{% from "../macros/common-components.njk" import goBack, searchInput %}

{% extends "../list-template.njk" %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}
{% block content %}
    <div class="parent-box">
        <h2 id="page-heading" class="govuk-heading-l">
            {{ heading }}
        </h2>

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-5">{{ listDate }} {{ contentDate }}</p>
        <p class="govuk-body govuk-!-margin-bottom-2">{{ messageLine1 }}</p>
        <p class="govuk-body govuk-!-margin-bottom-2">{{ messageLine2 }}</p>
        <p class="govuk-body govuk-!-padding-bottom-5">
            <a class="govuk-link" href="https://www.gov.uk/guidance/what-to-expect-when-joining-a-telephone-or-video-hearing">{{ joinHearingLinkText }}</a>
        </p>
        <p class="govuk-body govuk-!-padding-bottom-5">
            <a class="govuk-link" href="https://www.gov.uk/guidance/observe-a-court-or-tribunal-hearing">{{ observationText }}</a>
        </p>

        <div class="parent-box overflow-table govuk-!-margin-top-5 govuk-!-margin-bottom-5 search-area">
            <table class="govuk-table overflow-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    {% for header in tableHeaders %}
                        <th scope="col" class="govuk-table__header" aria-sort="none">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for case in listData %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ case['date'] | dateFormatter(lng) }}</td>
                        <td class="govuk-table__cell">{{ case['hearingTime'] }}</td>
                        <td class="govuk-table__cell">{{ case['caseReferenceNumber'] }}</td>
                        <td class="govuk-table__cell">{{ case['caseName'] }}</td>
                        <td class="govuk-table__cell">{{ case['judges'] }}</td>
                        <td class="govuk-table__cell">{{ case['members'] }}</td>
                        <td class="govuk-table__cell">{{ case['modeOfHearing'] }}</td>
                        <td class="govuk-table__cell">{{ case['venue'] }} </td>
                        <td class="govuk-table__cell">{{ case['additionalInformation'] }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance | maskLegacyDataSource }}</p>
        {{ super() }}
    </div>
{% endblock %}
