{% from "../macros/common-components.njk" import goBack, searchInput %}
{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../list-template.njk" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}

{% block content %}
    <div class="parent-box">
        <h2 id='page-heading' class="govuk-heading-l">
            {{ heading }} {{ courtName }}
        </h2>
        <p class="govuk-body"><a class="govuk-link" href={{ factLink }}>{{ factLinkText1 }}</a>{{ factLinkText2 }}</p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ listDate }} {{ contentDate }}</p>
        <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
        <p class="govuk-body venue-address">{{ venueAddress | striptags(true) | escape | nl2br }}</p>
        <div class="govuk-grid restriction-list-section govuk-!-margin-bottom-5">
            <div class="govuk-body">
                <h3>{{ restrictionInformationHeading }}</h3>
                <p class="govuk-body">{{ restrictionInformationP1 }}</p>
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon align-warning-icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        {{ restrictionInformationBoldText }}
                    </strong>
                </div>
                <p class="govuk-body">{{ restrictionInformationP2 }}</p>
                <p class="govuk-body">{{ restrictionInformationP3 }}</p>
                <p class="govuk-body">{{ restrictionInformationP4 }}</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ restrictionBulletPoint1 }}</li>
                    <li>{{ restrictionBulletPoint2 }}</li>
                </ul>
            </div>
        </div>
    </div>
    {{ searchInput(text = searchCases) }}
    <div class="search-area">
        {% set courtRoomCount = 0 %}
        {% set subjectPartyCount = 0 %}
        {% for room in listData %}
            {% set courtRoomCount = courtRoomCount + 1 %}
            <div class="site-header" tabindex="0" aria-label="List Details">
                {% if room.courtHouseName | length %}
                  <h1 class="govuk-heading-l site-address court-room-{{ courtRoomCount }}" tabindex="0">{{ room.courtHouseName }}</h1>
                {% endif %}
                {% if room.lja | length %}
                  <h1 class="govuk-heading-l site-address court-room-{{ courtRoomCount }}" tabindex="0">{{ lja }}: {{ room.lja }}</h1>
                {% endif %}
                <h1 class="govuk-heading-l site-address court-room-{{ courtRoomCount }}" tabindex="0">{{ room.courtRoomName }}</h1>
            </div>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-{{ courtRoomCount }}">
                {% for row in room.casesAndApplications %}
                    {% set subjectPartyCount = subjectPartyCount + 1 %}
                    <div class="govuk-accordion__section govuk-accordion__section--expanded">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ subjectPartyCount }}">
                                {{ nameHeading }} {{ row.subjectPartyHeading }}
                            </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-{{ subjectPartyCount }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ subjectPartyCount }}">
                            {% set sittingCount = 0 %}
                            {% for sitting in row.sittings %}
                                {% set sittingCount = sittingCount + 1 %}
                                <div class="parent-box overflow-table">
                                    <div class="govuk-grid-row">
                                        <div class="govuk-grid-column-two-thirds no_padding">
                                            <p class="govuk-body">
                                                <span class="linked-cases-heading">
                                                    {{ sittingAt }}
                                                    {{ sitting.sittingStartTime | appendCaseSequenceIndicator(sitting.info.caseSequenceIndicator) }}
                                                </span>
                                            </p>
                                            <br/>
                                            {% if sitting.subjectPartyInfo.dob | length %}
                                                {% if sitting.subjectPartyInfo.age %}
                                                    <p class="govuk-body"><span class="linked-cases-heading">{{ dobAndAge }}</span> {{ sitting.subjectPartyInfo.dob }} {{ age }} {{ sitting.subjectPartyInfo.age }}</p>
                                                {% else %}
                                                    <p class="govuk-body"><span class="linked-cases-heading">{{ dobAndAge }}</span> {{ sitting.subjectPartyInfo.dob }}</p>
                                                {% endif %}
                                            {% elseif sitting.subjectPartyInfo.age %}
                                                <p class="govuk-body"><span class="linked-cases-heading">{{ dobAndAge }}</span> {{ age }} {{ sitting.subjectPartyInfo.age }}</p>
                                            {% endif %}
                                            <p class="govuk-body"><span class="linked-cases-heading">{{ address }}</span>{{ sitting.subjectPartyInfo.address }}</p>
                                            <p class="govuk-body"><span class="linked-cases-heading">{{ prosecutingAuthority }}</span>{{ sitting.info.prosecutingAuthority }}</p>
                                            <p class="govuk-body"><span class="linked-cases-heading">{{ attendanceMethod }}</span>{{ sitting.info.attendanceMethod }}</p>
                                        </div>
                                        <div class="govuk-grid-column-one-third">
                                            <p class="govuk-body"><span class="linked-cases-heading">{{ reference }}</span>{{ sitting.info.reference }}</p>

                                            {% if sitting.info.applicationType | length %}
                                                <p class="govuk-body"><span class="linked-cases-heading">{{ applicationType }}</span>{{ sitting.info.applicationType }}</p>
                                            {% endif %}

                                            <p class="govuk-body"><span class="linked-cases-heading">{{ asn }}</span>{{ sitting.subjectPartyInfo.asn }}</p>
                                            <p class="govuk-body"><span class="linked-cases-heading">{{ hearingType }}</span>{{ sitting.info.hearingType }}</p>
                                            <p class="govuk-body"><span class="linked-cases-heading">{{ panel }}</span>{{ sitting.info.panel }}</p>
                                        </div>
                                    </div>
                                    {% set offenceCount = 0 %}
                                    {% for offence in sitting.offences %}
                                        <div class="moj-timeline__description">
                                            <details class="govuk-details" data-module="govuk-details">
                                                {% if offence.offenceTitle | length %}
                                                    {% set offenceCount = offenceCount + 1 %}
                                                    <summary class="govuk-details__summary govuk-link">
                                                        <span class="offence-summary">{{ offenceCount }}. {{ offenceCode }}</span>
                                                        <span class="offence-summary">{{ offence.offenceCode }}</span>
                                                          {% if (offence.offenceCode | length) and (offence.offenceTitle | length) %}
                                                            <span class="offence-summary"> - </span>
                                                          {% endif %}
                                                        <span class="offence-summary">{{ offence.offenceTitle }}</span>
                                                    </summary>
                                                    <div class="govuk-details__text">
                                                        <table class="govuk-table">
                                                            <tbody class="govuk-table__body">
                                                                {% if offence.offenceWording | length %}
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell no-border-bottom">{{ offence.offenceWording }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if offence.offenceLegislation | length %}
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ legislation }}</span></td>
                                                                        <td class="govuk-table__cell no-border-bottom">{{ offence.offenceLegislation }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if offence.offenceMaxPenalty | length %}
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ maxPenalty }}</span></td>
                                                                        <td class="govuk-table__cell no-border-bottom">{{ offence.offenceMaxPenalty }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if offence.plea | length %}
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ plea }}</span></td>
                                                                        <td class="govuk-table__cell no-border-bottom">{{ offence.plea }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if offence.pleaDate | length %}
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ dateOfPlea }}</span></td>
                                                                        <td class="govuk-table__cell no-border-bottom">{{ offence.pleaDate }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if offence.convictionDate | length %}
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ convictedOn }}</span></td>
                                                                        <td class="govuk-table__cell no-border-bottom">{{ offence.convictionDate }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if offence.adjournedDate | length %}
                                                                    <tr class="govuk-table__row">
                                                                        <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ adjournedFrom }}</span></td>
                                                                        <td class="govuk-table__cell no-border-bottom">{{ offence.adjournedDate }} - {{ adjournedText }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                {% endif %}
                                            </details>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance | convertDataSourceName(lng) }}</p>
        {{ super() }}
    </div>
{% endblock %}
