{% from "../macros/common-components.njk" import goBack, searchInput, mojAll, backButtonHistory %}
{% from "../macros/sjp-common.njk" import downloadButton, filterForm, filterManipulation %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ listDetail | replace("CASES_COUNT", length) }} {{ publishedDateTime }} {{ publishedAt }} {{ publishedTime }}</p>

  {% if showDownloadButton %}
    {{ downloadButton(text = downloadButton, artefactId = artefactId) }}
  {% endif %}

  <button class="govuk-button govuk-button--secondary hide-show-button" id="show-filters" data-module="govuk-button">
    {% if showFilters %} {{ filter.hide }} {% else %} {{ filter.show }} {% endif %}
  </button>

  <div class="govuk-grid-row sjp-layout">
    {{ filterForm(url = listUrl, filterOptions = filterOptions, showFilters = showFilters, artefactId = artefactId, filter = filter) }}
    <div id="contents">
      <div class="parent-box overflow-table">
        {{ govukPagination(paginationData) }}
        <div class="overflow-table govuk-body">
          {% set sjpCases = [] %}
          {% for sjpCase in sjpData %}
            {% set _ = sjpCases.push([
              {
                text: sjpCase.name,
                classes: "search-area"
              },
              {
                text: sjpCase.postcode,
                classes: "search-area"
              },
              {
                text: sjpCase.offence,
                classes: "search-area"
              },
              {
                text: sjpCase.prosecutorName,
                classes: "search-area"
              }
            ]) %}
          {% endfor %}

          {{ govukTable({
            firstCellIsHeader: false,
            attributes: {
              "data-module": "moj-sortable-table"
            },
            head: [
              {
                text: column1,
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: column2,
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: column3,
                attributes: {
                  "aria-sort": "none"
                }
              },
              {
                text: column4,
                attributes: {
                  "aria-sort": "none"
                }
              }
            ],
            rows: sjpCases
          }) }}
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
     {{ super() }}
  </div>
{% endblock %}

{% block bodyEnd %}
    {{ backButtonHistory(cspNonce) }}
    {{ mojAll(cspNonce) }}
    {{ super() }}
    {{ filterManipulation(url = listUrl, artefactId = artefactId, filter = filter, cspNonce = cspNonce) }}
{% endblock %}
