nodejs:
  applicationPort: 8080
  ingressHost: pip-frontend.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'sdshmctspublic.azurecr.io/pip/frontend:latest'
  keyVaults:
    pip-shared-kv:
      resourceGroup: pip-sharedservices-{{ .Values.global.environment }}-rg
      secrets:
        - name: otp-app-pip-frontend-pwd
          alias: CLIENT_SECRET
        - name: session-key
          alias: SESSION_SECRET
  environment:
  aadIdentityName: pip
