nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  startupPeriod: 30
  startupFailureThreshold: 10
  environment:
    OIDC: true
    AUTH_RETURN_URL: https://${SERVICE_FQDN}/login/return
    MEDIA_VERIFICATION_RETURN_URL: https://${SERVICE_FQDN}/media-verification/return
    FRONTEND_URL: https://${SERVICE_FQDN}
    EXCLUDE_E2E: true

idam-pr:
  enabled: true
  redirect_uris:
    pip:
      - https://${SERVICE_FQDN}/cft-login/return
