nodejs:
    applicationPort: 8080
    ingressHost: pip-frontend.{{ .Values.global.environment }}.platform.hmcts.net
    image: 'sdshmctspublic.azurecr.io/pip/frontend:latest'
    startupPeriod: 30
    startupFailureThreshold: 10
    environment:
        AUTH_RETURN_URL: https://127.0.0.1/login/return
        MEDIA_VERIFICATION_RETURN_URL: https://127.0.0.1/media-verification/return
        ADMIN_AUTH_RETURN_URL: https://127.0.0.1/login/admin/return
        ENABLE_CFT: false
        SESSION_COOKIE_SAME_SITE: 'lax'
    memoryLimits: 1024Mi
    cpuRequests: 300m
    keyVaults:
        pip-ss-kv:
            resourceGroup: pip-ss-{{ .Values.global.environment }}-rg
            secrets:
                - name: session-key
                  alias: SESSION_SECRET
                - name: auto-pip-<ENV>-pip-frontend-<ENV>-id
                  alias: CLIENT_ID
                - name: auto-pip-<ENV>-pip-frontend-<ENV>-pwd
                  alias: CLIENT_SECRET
                - name: b2c-config-endpoint
                  alias: CONFIG_ENDPOINT
                - name: b2c-config-admin-endpoint
                  alias: CONFIG_ADMIN_ENDPOINT
                - name: b2c-tenant-id
                  alias: TENANT_GUID
                - name: shared-storageaccount-connection-string
                  alias: CONNECTION_STRING
                - name: REDIS-V6-HOST
                  alias: REDIS_HOST
                - name: REDIS-V6-PASSWORD
                  alias: REDIS_PASSWORD
                - name: REDIS-V6-PORT
                  alias: REDIS_PORT
                - name: app-pip-frontend-id
                  alias: CLIENT_ID_INTERNAL
                - name: app-pip-frontend-pwd
                  alias: CLIENT_SECRET_INTERNAL
                - name: app-tenant-id
                  alias: TENANT_ID
                - name: app-pip-data-management-scope
                  alias: DATA_MANAGEMENT_AZ_API
                - name: app-pip-subscription-management-scope
                  alias: SUBSCRIPTION_MANAGEMENT_AZ_API
                - name: app-pip-account-management-scope
                  alias: ACCOUNT_MANAGEMENT_AZ_API
                - name: app-pip-channel-management-scope
                  alias: CHANNEL_MANAGEMENT_AZ_API
                - name: app-insights-nodejs-instrumentation-key
                  alias: INSTRUMENTATION_KEY
                - name: b2c-url
                  alias: B2C_URL
                - name: cft-idam-client-secret
                  alias: CFT_IDAM_CLIENT_SECRET
    autoscaling:
        enabled: false #To be enabled as part of PUB-1692
