nodejs:
  applicationPort: 8080
  ingressHost: pip-frontend.{{ .Values.global.environment }}.platform.hmcts.net
  image: 'sdshmctspublic.azurecr.io/pip/frontend:latest'
  keyVaults:
    pip-ss-kv:
      resourceGroup: pip-ss-{{ .Values.global.environment }}-rg
      secrets:
        - name: session-key
          alias: SESSION_SECRET
        - name: otp-app-pip-frontend-id
          alias: CLIENT_ID
        - name: otp-app-pip-frontend-pwd
          alias: CLIENT_SECRET
        - name: otp-tenant-id
          alias: TENANT_GUID
        - name: shared-storageaccount-connection-string
          alias: CONNECTION_STRING
        - name: REDIS-HOST
          alias: REDIS_HOST
        - name: REDIS-PASSWORD
          alias: REDIS_PASSWORD
        - name: REDIS-PORT
          alias: REDIS_PORT
        - name: b2c-auth-endpoint
          alias: B2C_AUTH_ENDPOINT
  aadIdentityName: pip

  environment:
    OIDC: true
    AUTH_RETURN_URL: https://pip-frontend.staging.platform.hmcts.net/login/return
