node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml
.vscode/

*swp
*log
.DS_Store
package-lock.json
src/main/public/img/lib/*
src/main/public/js/lib/**/*.js
src/main/public/stylesheets/lib/*
src/main/views/govuk

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/
dist/
public/
manualUpload/

/coverage
e2e-results/
/functional-output/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
