@import '~govuk-frontend';

$line-colour: #1d70b8;

//Global App Styling
.govuk-header__navigation--end {
  margin: -5vh 0 0;
  padding: 1vh 0 0;
}

//Styling for the Alphabetical View page
.floating-back-to-top--fixed {
  position: fixed !important;
  top: calc(100% - #{govuk-spacing(8)});
  bottom: auto !important;
  left: auto !important;
}

.floating-back-to-top:hover {
  text-decoration: none;
}

.floating-back-to-top {
  position: absolute;
  bottom: 0;
  left: 0;
}

.text_disabled {
  color: #505a5f;
}

.width-column {
  width: calc(100% / 26);
  float: left;
  text-align: center;
}

.layout-width-one-fifth {
  width: 20%;
  float: left;
}

.layout-width-four-fifths {
  width: 80%;
  float: left;
}

#parent-box {
  min-height: 1px;
  position: relative;
}

.govuk-grid-row {
  margin-right: 0;
  margin-left: 0;
  display: flex;
}

//Styling for the Hearings List page
.number_hearings {
  text-align: right;
}

.govuk-section-break--visible {
  border-color: $line-colour;
}

.right-align-text {
  text-align: right;
}

.centre-align-text {
  text-align: center;
}

//Styling for Search Results page
.govuk-table__cell--no-line {
  @extend .govuk-table__cell;
  border-style: hidden;
  font-weight: inherit;
}

#search-results-body {
  tr {
    &:first-child {
      th {
        &.govuk-table__cell--no-line {
          border-style: inherit;
        }
      }

      td {
        &.govuk-table__cell--no-line {
          border-top: 1px solid $govuk-border-colour;
        }
      }
    }

    &:last-child {
      th {
        &.govuk-table__cell--no-line {
          border-bottom-style: solid;
        }
      }

      td {
        &.govuk-table__cell--no-line {
          border-bottom-style: solid;
        }
      }
    }
  }
}
