@import '~govuk-frontend';

.govuk-header__navigation--end {
  margin: -5vh 0 0;
  padding: 1vh 0 0;
}

.number_hearings {
  text-align: right;
}

.text_disabled {
  color: #505a5f;
}

.width-column {
  width: calc(100% / 26);
  float: left;
  text-align: center;
}

.layout-width-one-fifth {
  width: 20%;
  float: left;
}

.layout-width-four-fifths {
  width: 80%;
  float: left;
}





