@import '~govuk-frontend';
@import 'accessible-autocomplete.min';
@import 'node_modules/@ministryofjustice/frontend/moj/all';

$line-colour: #1d70b8;
$text-disabled: #505a5f;
$error-colour: #d4351c;
$underline-colour: #2e3133;
$min-width: 52em;

//Styling for the Header

//This allows the subscription drop down to not overlap
@media (min-width: $min-width) {
  .govuk-header__navigation--end {
    padding-top: 1px;
  }
}
//The below styling makes sure the subscription text doesn't overlap with the heading as the screen is made smaller
//by increasing the minimum width
@media (max-width: $min-width) {
  .js-enabled {
    .govuk-header__menu-button  {
      display: block;
    }

    .govuk-header__navigation  {
      display: none;
      margin-bottom: 10px;
    }
  }
}

.js-enabled {
  .govuk-header__navigation--open {
    display: block;
  }
}

@media (max-width: $min-width) {
  .govuk-header__navigation-item {
    border: 0;
    border-bottom: 1px solid $underline-colour;
    display: block;
    margin-right: 0;
    padding: 10px 0;

  }
}

@media (max-width: $min-width) {
  .govuk-header__content {
    float: none;
    padding-left: 0;
    width: auto;
  }
}

@media (min-width: $min-width) {
  .govuk-header__content {
    display: flex;
  }
}

@media (min-width: $min-width) {
  nav {
    flex: 1;
  }
}

@media (max-width: $min-width) {
  .govuk-header__navigation--end {
    padding: 0;
    text-align: left;
  }
}
//End of header styling

//Styling for the Alphabetical View page
.floating-back-to-top {
  bottom: 0;
  left: 0;
  position: absolute;

  :hover {
    text-decoration: none;
  }
}

.offset-parent-box {
  @extend .parent-box;
  left: -20%;

  a {
    &:not(.floating-back-to-top--fixed) {
      width: 125px;
    }
  }
}

.text_disabled {
  color: $text-disabled;
}

.width-column {
  float: left;
  text-align: center;
  width: calc(100% / 26);
}

.two-rows-alphabet {
  float: left;
  width: calc(100% / 13);
}

.layout-width-one-fifth {
  float: left;
  width: 20%;
}

.layout-width-four-fifths {
  float: left;
  width: 80%;
}

.layout-width-three-fifths {
  float: left;
  width: 60%;
}

.layout-width-two-fifths {
  float: left;
  width: 40%;
}

.parent-box {
  min-height: 1px;
  position: relative;

  .floating-back-to-top--fixed {
    bottom: auto;
    left: auto;
    position: fixed;
    top: calc(100% - #{govuk-spacing(8) * 2});
  }
}

.govuk-grid-row {
  display: flex;
  margin-left: 0;
  margin-right: 0;
}

.app-back-to-top__icon {
  margin-right: 10px;
}

//Styling for the Hearings List page
.number_hearings {
  text-align: right;
}

.govuk-section-break--visible {
  border-color: $line-colour;
}

.right-align-text {
  text-align: right;
}

.centre-align-text {
  text-align: center;
}

//Styling for Search Results page
.govuk-table__cell--no-line {
  @extend .govuk-table__cell;
  border-style: hidden;
  font-weight: inherit;
}

tbody {
  tr {
    &:first-child {
      th {
        &.govuk-table__cell--no-line {
          border-style: inherit;
        }
      }

      td {
        &.govuk-table__cell--no-line {
          border-top: 1px solid $govuk-border-colour;
        }
      }
    }

    &:last-child {
      th {
        &.govuk-table__cell--no-line {
          border-bottom-style: solid;
        }
      }

      td {
        &.govuk-table__cell--no-line {
          border-bottom-style: solid;
        }
      }
    }
  }
}

// remove padding from the three-quarters error summary
.no_padding {
  padding: 0;
}

.table-column-court-number {
  width: 12%;
}

.table-header-bottom-align {
  vertical-align: bottom;
}

//Styling changes for the Azure OTP Logon Page

.intro {
  @extend .govuk-body;
}

div {
  .attrEntry {
    div {
      @extend .govuk-body;

      &.error {
        color:  $govuk-error-colour;
      }
    }
  }
}

.buttons {
  @extend .govuk-\!-margin-top-4;

  button {
    @extend .govuk-button;
    @extend .govuk-\!-margin-right-4;
  }
}

.error {
  @extend .govuk-body;
  color:  $govuk-error-colour;
}

.verifying-modal {
  display: none;
}

.attrEntry {
  label {
    @extend .govuk-body;
    @extend .govuk-\!-font-weight-bold;

  }
}

.verify {
  label {
    @extend .govuk-\!-margin-right-4;
  }
}

.verifyInput {
  @extend .govuk-input;
  @extend .govuk-\!-width-one-half;
  @extend .govuk-\!-margin-right-4;
  @extend .govuk-\!-margin-top-4;

  &[aria-hidden='false'] {
    //Important is required due to an inline style being applied
    display: block !important; // sass-lint:disable-line no-important
  }
}

.verifyButton {
  @extend .govuk-\!-margin-top-4;
}

.sendButton {
  @extend .govuk-\!-margin-top-4;
}

.textInput {
  @extend .govuk-input;
  @extend .govuk-\!-width-one-half;
}

.helpLink {
  display: none;
}

.moj-sub-navigation__item > a {
  font-weight: bold;
}

.selection-counter-box {
  background-color: govuk-colour('light-grey');
}

.filter-back-to-top-wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.vertical-center-table-header {
  vertical-align: middle;
}

.hr-colour {
  border-color: $govuk-border-colour;
}

.with-background {
  background-color: govuk-colour('white');
}

.pub-navigation {
  .moj-sub-navigation__link {
    font-size: 16px;
  }

  @media (min-width: 641px) {
    .moj-sub-navigation__item {
      &:last-child {
        float: right;
      }
    }
  }
}

.govuk-input--error {
  .autocomplete__input {
    &:not(.autocomplete__input--focused) {
      // Important is required due javascript overriding this as it is loaded after css rendering
      border: solid 2px $govuk-error-colour !important; // sass-lint:disable-line no-important
    }
  }
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > div {
    flex: 50%;
    max-width: 50%;
  }

  @media (max-width: 640px) {
    > div {
      flex: 100%;
      max-width: 100%;
    }
  }

  .account-card {
    background-color: govuk-colour('light-grey');
    border: solid 1px govuk-colour('mid-grey');
    height: 100%;
    padding: 0 1em;
  }
}

.sjp-row {
  th {
    &:first-child {
      width: 33px;
    }
  }

  td {
    &:nth-child(2) {
      width: 16px;
    }
  }
}

.search-input-name {
  border: 0;
}

.overflow-table {
  overflow-x: auto;
}
