{% extends "../template.njk" %}
{% from "../macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack(cspNonce = cspNonce) }}
{% endblock %}

{% block content %}
    <div class="parent-box">
        <h1 class="govuk-heading-l">
            {{ title }}
            {% if metadata.isFlatFile %}
                {{ flatFile }}
            {% else %}
                {{ jsonFile }}
            {% endif %}</h1>

        <div id="section1">
            <form method="post">
                {% if not noMatchArtefact %}
                    {{ submitButton(label = resubmit, id = 'resubmit-subscription') }}
                {% endif %}

                <h2 class="govuk-heading-m">Metadata</h2>
                {{ govukSummaryList({
                    rows: [
                        {key: {text: "Artefact ID"}, value: { text: metadata.artefactId} },
                        {key: {text: "Location ID"}, value: { text: metadata.locationId} },
                        {key: {text: "Location Name"}, value: { text: locationName } },
                        {key: {text: "Publication Type"}, value: { text: metadata.type | titleCase} },
                        {key: {text: "List Type"}, value: { text: metadata.listType | listType} },
                        {key: {text: "Provenance"}, value: { text: metadata.provenance} },
                        {key: {text: "Language"}, value: { text: metadata.language | titleCase} },
                        {key: {text: "Sensitivity"}, value: { text: metadata.sensitivity | titleCase} },
                        {key: {text: "Content Date"}, value: { text: metadata.contentDate | date('Do MMMM YYYY [at] hh:mm a')} },
                        {key: {text: "Display From"}, value: { text: metadata.displayFrom | date('Do MMMM YYYY [at] hh:mm a')} },
                        {key: {text: "Display To"}, value: { text: metadata.displayTo | date('Do MMMM YYYY [at] hh:mm a')} }
                    ]
                }) }}
            </form>
        </div>
    </div>
    {% if not noMatchArtefact and metadata.sensitivity == 'PUBLIC' %}
        <p class="govuk-body-l">
          <a class="govuk-link" href="{{ listUrl }}">{{ viewLinkFlatFile if metadata.isFlatFile else viewLinkJson }}</a>
        </p>
    {% endif %}

    {% if not metadata.isFlatFile %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{ viewJson }}
    </span>
            </summary>
            <div class="json-container">
                {{ data | safe }}
            </div>
        </details>
    {% endif %}

    {{ super() }}
{% endblock %}
