{% from "../macros/common-components.njk" import goBack, submitButton %}
{% extends "../template.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% extends "../template.njk" %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack(cspNonce = cspNonce) }}
{% endblock %}
{% block content %}
<div class="parent-box">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ header }}</h1>
            <p class="govuk-body" tabindex="0">{{ description }}</p>
            <form method="post">
                {{ govukSelect({
                    classes: 'govuk-!-width-one-half',
                    id: "reportDuration",
                    name: "reportDuration",
                    label: {
                        text: form.reportDurationText
                    },
                    items: form.reportDuration
                }) }}
                {{ govukSelect({
                    classes: 'govuk-!-width-one-half',
                    id: "reportType",
                    name: "reportType",
                    label: {
                        text: form.reportTypeText
                    },
                    items: form.reportType
                }) }}
                {{ submitButton(form.downloadButton) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block bodyEnd %}
    {{ super() }}
{% endblock %}
