{% extends "../template.njk" %}
{% from "../macros/common-components.njk" import goBack, submitButton, backButtonHistory %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack(cspNonce = cspNonce) }}
{% endblock %}

{% block content %}
    {% if displayError %}
        {{ govukErrorSummary({
            titleText: error.title,
            errorList: [
                {
                    text: error.message,
                    href: "#"
                }
            ]
        }) }}
    {% endif %}
    <h1 class="govuk-heading-l">{{ header }}</h1>
    <p class="govuk-body">{{ message }}</p>
    <form method="post" action="edit-list-type-search-config-summary">
        {{ govukInput({
            id: "createConfig",
            name: "createConfig",
            type: "hidden",
            value: formData.createConfig
        }) }}
        {{ govukSummaryList({
            rows: [
                {
                    key: { text: listType },
                    value: { text: formData.listType },
                    actions: {
                        items: [
                            {
                                href: "manage-list-types",
                                text: actionText,
                                visuallyHiddenText: listType
                            }
                        ]
                    }
                },
                {
                    key: { text: caseNumberField },
                    value: { text: formData.caseNumberFieldName },
                    actions: {
                        items: [
                            {
                                href: "edit-list-type-search-config?listType=" + formData.listType + "#caseNumberFieldName",
                                text: actionText,
                                visuallyHiddenText: caseNumberField
                            }
                        ]
                    }
                },
                {
                    key: { text: caseNameField },
                    value: { text: formData.caseNameFieldName },
                    actions: {
                        items: [
                            {
                                href: "edit-list-type-search-config?listType=" + formData.listType + "#caseNameFieldName",
                                text: actionText,
                                visuallyHiddenText: caseNameField
                            }
                        ]
                    }
                }
            ]
        }) }}
        {{ submitButton(confirmButton) }}
    </form>
{% endblock %}
{% block bodyEnd %}
    {{ super() }}
    {{ backButtonHistory(cspNonce) }}
{% endblock %}
