{% from "../macros/common-components.njk" import goBack, successPanel, backButtonHistory %}

{% extends "../template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(cspNonce = cspNonce) }}
{% endblock %}
{% block content %}
  {{ successPanel(header, subHeader) }}
  <p class="govuk-body">{{ p1 }}<a href="/manage-third-party-users">{{ linkText }}</a></p>
{% endblock %}
{% block bodyEnd %}
  {{ backButtonHistory(cspNonce) }}
  {{ super() }}
{% endblock %}
