{% from "../macros/common-components.njk" import goBack, submitButton, backButtonHistory %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% extends "../template.njk" %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack(cspNonce = cspNonce) }}
{% endblock %}
{% block content %}
    {% if formErrors %}
        {% set errorList = [] %}
        {% if formErrors.destinationUrlError %}
            {% set errorList = (errorList.push({text: destinationUrlError, href: "#destinationUrl"}), errorList) %}
        {% endif %}
        {% if formErrors.tokenUrlError %}
            {% set errorList = (errorList.push({text: tokenUrlError, href: "#tokenUrl"}), errorList) %}
        {% endif %}
        {% if formErrors.scopeKeyError %}
            {% set errorList = (errorList.push({text: scopeKeyError, href: "#scopeKey"}), errorList) %}
        {% endif %}
        {% if formErrors.scopeValueError %}
            {% set errorList = (errorList.push({text: scopeValueError, href: "#scopeValue"}), errorList) %}
        {% endif %}
        {% if formErrors.clientIdKeyError %}
            {% set errorList = (errorList.push({text: clientIdKeyError, href: "#clientIdKey"}), errorList) %}
        {% endif %}
        {% if formErrors.clientIdError %}
            {% set errorList = (errorList.push({text: clientIdError, href: "#clientId"}), errorList) %}
        {% endif %}
        {% if formErrors.clientSecretKeyError %}
            {% set errorList = (errorList.push({text: clientSecretKeyError, href: "#clientSecretKey"}), errorList) %}
        {% endif %}
        {% if formErrors.clientSecretError %}
            {% set errorList = (errorList.push({text: clientSecretError, href: "#clientSecret"}), errorList) %}
        {% endif %}
        {{ govukErrorSummary({
            titleText: errorTitle,
            errorList: errorList
        }) }}
    {% endif %}

    {% set destinationUrlErrorMessage = {text: destinationUrlError} if formErrors.destinationUrlError else '' %}
    {% set tokenUrlErrorMessage = {text: tokenUrlError} if formErrors.tokenUrlError else '' %}
    {% set scopeKeyErrorMessage = {text: scopeKeyError} if formErrors.scopeKeyError else '' %}
    {% set scopeValueErrorMessage = {text: scopeValueError} if formErrors.scopeValueError else '' %}
    {% set clientIdKeyErrorMessage = {text: clientIdKeyError} if formErrors.clientIdKeyError else '' %}
    {% set clientIdErrorMessage = {text: clientIdError} if formErrors.clientIdError else '' %}
    {% set clientSecretKeyErrorMessage = {text: clientSecretKeyError} if formErrors.clientSecretKeyError else '' %}
    {% set clientSecretErrorMessage = {text: clientSecretError} if formErrors.clientSecretError else '' %}

    {% set destinationUrlInput = govukInput({
        classes: 'govuk-!-width-two-thirds',
        id: "destinationUrl",
        name: "destinationUrl",
        value: formData.destinationUrl,
        label: {
            text: destinationUrlLabel
        },
        errorMessage: destinationUrlErrorMessage
    }) %}
    {% set tokenUrlInput = govukInput({
        classes: 'govuk-!-width-two-thirds',
        id: "tokenUrl",
        name: "tokenUrl",
        value: formData.tokenUrl,
        label: {
            text: tokenUrlLabel
        },
        errorMessage: tokenUrlErrorMessage
    }) %}
    {% set scopeKeyInput = govukInput({
        classes: 'govuk-!-width-two-thirds',
        id: "scopeKey",
        name: "scopeKey",
        value: formData.scopeKey,
        label: {
            text: scopeKeyLabel
        },
        attributes: {
            readonly: "readonly"
        },
        errorMessage: scopeKeyErrorMessage
    }) %}
    {% set scopeValueInput = govukInput({
        classes: 'govuk-!-width-two-thirds',
        id: "scopeValue",
        name: "scopeValue",
        value: formData.scopeValue,
        label: {
            text: scopeValueLabel
        },
        errorMessage: scopeValueErrorMessage
    }) %}
    {% set clientIdKeyInput = govukInput({
        classes: 'govuk-!-width-two-thirds',
        id: "clientIdKey",
        name: "clientIdKey",
        value: formData.clientIdKey,
        label: {
            text: clientIdKeyLabel
        },
        attributes: {
            readonly: "readonly"
        },
        errorMessage: clientIdKeyErrorMessage
    }) %}
    {% set clientIdInput = govukInput({
        classes: 'govuk-!-width-two-thirds',
        id: "clientId",
        name: "clientId",
        value: formData.clientId,
        label: {
            text: clientIdLabel
        },
        errorMessage: clientIdErrorMessage
    }) %}
    {% set clientSecretKeyInput = govukInput({
        classes: 'govuk-!-width-two-thirds',
        id: "clientSecretKey",
        name: "clientSecretKey",
        value: formData.clientSecretKey,
        label: {
            text: clientSecretKeyLabel
        },
        attributes: {
            readonly: "readonly"
        },
        errorMessage: clientSecretKeyErrorMessage
    }) %}
    {% set clientSecretInput = govukPasswordInput({
        classes: 'govuk-!-width-two-thirds',
        id: "clientSecret",
        name: "clientSecret",
        value: "",
        label: {
            text: clientSecretLabel
        },
        errorMessage: clientSecretErrorMessage
    }) %}
    <h1 class="govuk-heading-l">{{ header }}</h1>
    <form method="post" novalidate>
        {{ govukInput({
            id: "user",
            name: "user",
            type: "hidden",
            value: formData.user
        }) }}
        {{ govukInput({
            id: "createConfig",
            name: "createConfig",
            type: "hidden",
            value: formData.createConfig
        }) }}
        {{ destinationUrlInput }}
        {{ tokenUrlInput }}
        {{ scopeKeyInput }}
        {{ scopeValueInput }}
        {{ clientIdKeyInput }}
        {{ clientIdInput }}
        {{ clientSecretKeyInput }}
        {{ clientSecretInput }}
        {% if formData.createConfig === "true" %}
            {{ submitButton(createOauthConfigBtn) }}
        {% else %}
            {{ submitButton(updateOauthConfigBtn) }}
        {% endif %}
    </form>

{% endblock %}
{% block bodyEnd %}
    {{ super() }}
    {{ backButtonHistory(cspNonce) }}
{% endblock %}
