{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}

{% block content %}
<div class="parent-box">
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div id="section1">
    <p class="govuk-body">{{ section1.text1 }} <a href="{{ section1.links[0].link }}">{{ section1.links[0].text }}</a>.</p>
    <p class="govuk-body">{{ section1.text2 }}</p>
    <p class="govuk-body">{{ section1.text3 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in section1.list %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
    <p class="govuk-body">{{ section1.text4 }}</p>
    <p class="govuk-body"><a href="{{section1.links[1].link}}" target="_blank">{{section1.links[1].text}}</a> {{section1.text5}}</p>
  </div>

  <div id="section2">
    <h2 class="govuk-heading-l">{{ section2.heading }}</h2>
    {% for item in section2.text %}
      <p class="govuk-body">{{ item }}</p>
    {% endfor %}
  </div>

  <div id="section3">
    <h2 class="govuk-heading-m">{{ section3.heading }}</h2>
    {% for item in section3.text1 %}
      <p class="govuk-body">{{ item }}</p>
    {% endfor %}
    <h3 class="govuk-heading-s">{{ ctscData.heading }}</h3>
    <p class="govuk-body">{{ ctscData.phone }}</p>
    <p class="govuk-body">{{ ctscData.openingHours }}</p>
    <p class="govuk-body">{{ ctscData.email }}</p>
    <p class="govuk-body">{{ section3.text2 }}</p>
  </div>

  <div id="section4">
    <h2 class="govuk-heading-m">{{ section4.heading }}</h2>
    <p class="govuk-body">{{ section4.text1 }}</p>
    <h3 class="govuk-heading-s">{{ ctscData.heading }}</h3>
    <p class="govuk-body">{{ ctscData.phone }}</p>
    <p class="govuk-body">{{ ctscData.openingHours }}</p>
    <p class="govuk-body">{{ ctscData.email }}</p>
  </div>

  <div id="section5">
    <h2 class="govuk-heading-m">{{ section5.heading }}</h2>
    <p class="govuk-body">{{ section5.text1 }} <a href="{{ section5.links[0].link }}" target="_blank">{{ section5.links[0].text }}</a>.</p>
  </div>

  <div id="section6">
    <h2 class="govuk-heading-m">{{ section6.heading }}</h2>
    <p class="govuk-body">{{ section6.text1 }}</p>
  </div>

  <div id="section7">
    <h2 class="govuk-heading-m">{{ section7.heading }}</h2>
    <p class="govuk-body">{{ section7.text1 }} <a href="{{ section7.links[0].link }}">{{ section7.links[0].text }}</a>{{ section7.text2 }}</p>
    <h2 class="govuk-heading-m">{{ section7.heading2 }}</h2>
  </div>

  <div id="section8">
    <p class="govuk-body">{{ section8.preamble }}</p>
    <h2 class="govuk-heading-s">{{ section8.subHeading }}</h2>
    <ul class="govuk-list govuk-list--bullet">
    {% for item in section8.text %}
      <li>{{ item }}</li>
    {% endfor %}
    </ul>
  </div>

  <div id="section9">
    <h2 class="govuk-heading-m">{{ section9.heading }}</h2>
    {% for item in section9.text %}
      <p class="govuk-body">{{ item }}</p>
    {% endfor %}
  </div>

  <div id="section10">
    <h2 class="govuk-heading-m">{{ section10.heading }}</h2>
    {% for item in section10.text %}
      <p class="govuk-body">{{ item }}</p>
    {% endfor %}
  </div>
  {{ super() }}
</div>
{% endblock %}
