{% extends "template.njk" %}
{% from "./macros/common-components.njk" import goBack %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  {% if showVerifiedBanner %}
    <div class="parent-box">
      {% set html %}
        <p class="govuk-notification-banner__heading">{{ bannerText }}</p>
      {% endset %}
      {{ govukNotificationBanner({
        html: html
      }) }}
  {% endif %}
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l">{{ title }}</h1>
    </div>
    <div class="cards-wrapper">
        {% for card in cards %}
            <div class="govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                <div class="account-card govuk-!-margin-left-2 govuk-!-margin-right-2">
                    <p>
                        <a href="{{ card.link }}"
                           class="govuk-link govuk-body govuk-!-font-weight-bold" id="card-{{ card.link }}">{{ card.title }}</a>
                    </p>
                    <p class="govuk-body">{{ card.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
  {{ super() }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
