{% extends "template.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="govuk-!-width-two-thirds parent-box">
        {{ govukPanel({
            titleText: panelTitle
        }) }}
        <h2 class="govuk-heading-m">{{ nextMessage }}</h2>
        <p class="govuk-body">{{ reviewMessage }}</p>
        <p class="govuk-body">{{ moreInformationMessage }}</p>
        <p class="govuk-body">{{ contactUsMessage }}</p>
      {{ super() }}
    </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
