{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack, backToTopButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
  <div id="grid-row" class="govuk-grid-row parent-box alphabetical-box">
    <div class="layout-width-two-fifths govuk-!-display-inline-block hide" id="filters">
      <div class="filters">
        {% set checkedFilters = [] %}
        {% set toBeCreated = true %}
        {% set filterOptionsHtml %}
          {% for key, option in filterOptions %}
            {% set checkedFilterItems = [] %}
            {% set items = [] %}
            {% for value, item in option %}
              {% set _ = items.push({
                value: item.value,
                text: item.text,
                checked: item.checked
              }) %}
              {% if item.checked %}
                {% set _ = checkedFilterItems.push({href: '?clear=' + item.value, text: item.text}) %}
              {% endif %}
            {% endfor %}
            {% if checkedFilterItems| length > 0 %}
              {% set _ = checkedFilters.push({heading: {text: key}, items: checkedFilterItems}) %}
            {% endif %}
            {% if toBeCreated %}
              <div class="moj-button-menu filters__innerButton" id="innerButton">
                <div class="moj-button-menu__wrapper">
                  <a href="#" role="button" draggable="false"
                     class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button"
                     onclick="toggleFilters()">
                    {{ hide }}
                  </a>
                </div>
              </div>
              {% set toBeCreated = false %}
            {% endif %}
            {{ govukCheckboxes({
              idPrefix: key,
              name: key,
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: key,
                  classes: 'govuk-fieldset__legend--m'
                }
              },
              items: items
            }) }}
          {% endfor %}
        {% endset %}
        <div class="filter-form">
          <form method="post" action="alphabetical-search" class="moj-filter-layout__filter layout-width-four-fifths"
                autocomplete="off">
            {{ mojFilter({
              heading: {
                text: filter
              },
              selectedFilters: {
                clearLink: {
                  text: clearAll,
                  href: '?clear=all'
                },
                heading: {
                  text: selectedFilter
                },
                categories: checkedFilters
              },
              optionsHtml: filterOptionsHtml
            }) }}
          </form>
        </div>
      </div>
    </div>
    <div class="layout-width-three-fifths" id="content">
      <h1 id='page-heading' class="govuk-heading-l">{{ heading }}</h1>
      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
          <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary"
             data-module="govuk-button" onclick="toggleFilters()">
            {{ show }}
          </a>
        </div>
      </div>
      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        {% for key, value in courtList %}
          {% if value| length == 0 %}
            <div class="govuk-grid-column width-column govuk-!-font-size-19">
              <a id='{{ key }}-selector' class="govuk-link govuk-link--no-underline">{{ key }}</a>
            </div>
          {% else %}
            <div class="govuk-grid-column width-column govuk-!-font-size-19">
              <a id='{{ key }}-selector' href='#{{ key }}' class="govuk-link govuk-link--no-visited-state">{{ key }}</a>
            </div>
          {% endif %}
        {% endfor %}

      </div>
      <div class="govuk-grid-row">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ nationalListsHeader }}</h3>
      </div>
      <hr/>
      <div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-!-margin-top-4">
        <a href="/summary-of-publications?courtId=0" class="govuk-link govuk-!-margin-left-8 govuk-!-font-size-19"
           id="sjp-link">{{ sjpLink }}</a>
      </div>
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" colspan="2">{{ tableHeader1 }}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for key, value in courtList %}
          {% if value | length > 0 %}
            {% for courtName, courtDetails in value %}
              {% if courtDetails.id > 0 %}
                <tr class="govuk-table__row">
                  {% if first != key %}
                    {% set first = key %}
                    <th scope="row" class="govuk-table__header">
                      <div id="{{ key }}" class="govuk-!-font-size-27">{{ key }}</div>
                    </th>
                  {% else %}
                    <th scope="row" class="govuk-table__header">
                    </th>
                  {% endif %}
                  <td class="govuk-table__cell">
                    <a href="/summary-of-publications?courtId={{ courtDetails.id }}" class="govuk-link">{{ courtName }}</a>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
            {% set first = '' %}
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {{ backToTopButton() }}
    </div>
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script src="alphabetical-dev.js"></script>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }

    // The following function is hiding content and navigation due to screen readers to read behind the visible panel
    function toggleFilters() {
      var element = document.getElementById("filters");
      var content = document.getElementById("content");
      var navigation = document.getElementsByClassName("moj-sub-navigation pub-navigation govuk-!-margin-bottom-0");
      element.classList.toggle("hide");
      content.classList.toggle("hide");
      navigation[0].classList.toggle("hide");
      if (element.className.indexOf('hide') > 0) {
        document.getElementsByClassName('govuk-button moj-button-menu__item govuk-button--secondary')[0].text = "{{ show }}";
      } else {
        document.getElementsByClassName('govuk-button moj-button-menu__item govuk-button--secondary')[0].text = "{{ hide }}";
      }
    }
  </script>
{% endblock %}
