{% from "macros/common-components.njk" import goBack, successPanel %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}

{% block content %}
  {{ successPanel(title) }}
  <div class="parent-box">
    <p class="govuk-body">
      {{ pStart }}
      <a class="govuk-link" href="account-home">{{ yourAccount }}</a>
      {{ pEnd }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="/subscription-add" class="govuk-link">{{ addEmailSubscription }}</a></li>
        <li><a href="/subscription-management" class="govuk-link">{{ manageYourCurrentSubscriptions }}</a></li>
        <li><a href="/search" class="govuk-link">{{ findCourt }}</a></li>
    </ul>
    {{ super() }}
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
{% endblock %}
