{% from "macros/common-components.njk" import goBack, submitButton, mojAll %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% extends "template.njk" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}

{% block content %}
  <div class="parent-box">
    {% if noOptionSelectedError %}
      {{ govukErrorSummary({
        titleText: error.title,
        errorList: [
          {
            text: error.text,
            href: "#bulk-unsubscribe-choice"
          }
        ]
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <form method="post" action="bulk-unsubscribe">
      <div class="govuk-form-group">
        {% set allSubscriptions = caseTableData | length + locationTableData | length %}
        {% if allSubscriptions > 0 %}
          {{ mojSubNavigation({
            label: 'Sub navigation',
            items: [{
              text: subNavigation.header1 + allSubscriptions + ')',
              href: '?all',
              active: activeAllTab
            }, {
              text: subNavigation.header2 + caseTableData | length + ')',
              href: '?case',
              active: activeCaseTab
            }, {
              text: subNavigation.header3 + locationTableData | length + ')',
              href: '?location',
              active: activeLocationTab
            }]
          }) }}

          {% if caseTableData | length == 0 and locationTableData | length == 0 %}
            {% if activeAllTab == true %}
              <p class="govuk-body">{{ noSubs }}</p>
            {% elseif activeCaseTab == true %}
              <p class="govuk-body">{{ noSubsCase }}</p>
            {% elseif activelocationTab == true %}
              <p class="govuk-body">{{ noSubsCourt }}</p>
            {% endif %}
          {% else %}
            {% if (activeAllTab == true and caseTableData | length > 0) or (activeCaseTab == true and caseTableData | length > 0) %}
              {# Case Subscriptions Table #}
              <table class="govuk-table govuk-!-margin-bottom-9" id="cases-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">{{ caseTable.caseName }}</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">{{ caseTable.partyNames }}</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">{{ caseTable.caseRef }}</th>
                    <th scope="col" class="govuk-table__header">{{ caseTable.date }}</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric no-wrap">{{ caseTable.deletion }}</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for row in caseTableData %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell bulk-delete-row">{{ row.caseName }}</td>
                      <td class="govuk-table__cell bulk-delete-row">{{ row.partyNames | striptags(true) | escape | nl2br }}</td>
                      <td class="govuk-table__cell bulk-delete-row">{{ row.caseRef }}</td>
                      <td class="govuk-table__cell bulk-delete-row no-wrap">{{ row.date }}</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox bulk-delete-checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" name="caseSubscription" id="caseSubscription" value={{ row.subscriptionId }}>
                          <label class="govuk-label govuk-checkboxes__label" for="caseSubscription"> </label>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
            {% if (activeAllTab == true and locationTableData | length > 0) or (activeLocationTab == true and locationTableData | length > 0) %}
              {# location Subscriptions Table #}
              <table class="govuk-table govuk-!-margin-bottom-9" id="locations-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-three-quarters" aria-sort="none">{{ courtTable.courtName }}</th>
                    <th scope="col" class="govuk-table__header">{{ courtTable.date }}</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric no-wrap">{{ courtTable.deletion }}</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for row in locationTableData %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell bulk-delete-row">{{ row.locationName }}</td>
                      <td class="govuk-table__cell bulk-delete-row no-wrap">{{ row.date }}</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox bulk-delete-checkbox">
                          <input type="checkbox" class="govuk-checkboxes__input" name="courtSubscription" id="courtSubscription" value={{ row.subscriptionId }}>
                          <label class="govuk-label govuk-checkboxes__label" for="courtSubscription"> </label>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          {% endif %}
        {% else %}
          <p class="govuk-body">{{ noSubs }}</p>
        {% endif %}
      </div>
      {{ submitButton(label=unsubscribeButton, id="bulk-unsubscribe-button", disable=(allSubscriptions == 0)) }}
    </form>
    {{ super() }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {{ mojAll() }}

  <script>
    window.onload = function() {
      let nav = document.getElementsByClassName("moj-sub-navigation")[1].getElementsByTagName("ul")[0];
      let hideAllSection = nav.querySelectorAll('li[class="moj-sub-navigation__item"]');
      Array.from(hideAllSection).forEach((element, index) => {
        element.querySelectorAll('.moj-sub-navigation__link').forEach(function(el) {
          if(el.firstChild.nodeValue.indexOf('(0)') > 0) {
            el.style.display = 'none';
          }
        });
      });
    };
  </script>
{% endblock %}
