{% extends "template.njk" %}
{% from "./macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}

{% block content %}
  {% if displayNoOptionError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: noOptionError,
          href: "#"
        }
      ]

    }) }}
  {% endif %}
  {% if displayAccountCreationError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: accountCreationError,
          href: "#"
        }
      ]
    }) }}
  {% endif %}
  <div class="parent-box">
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <form method="post">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "confirmed",
        name: "confirmed",
        fieldset: {
        },
        items: [
          {
            id: 'yes',
            value: radioAnswers[0],
            text: radioAnswers[0]
          },
          {
            id: 'no',
            value: radioAnswers[1],
            text: radioAnswers[1]
          }
        ]
      }) }}
      {{ submitButton(continueButton) }}
    </form>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
{% endblock %}
