{% from "macros/common-components.njk" import goBack, betaLink %}
{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ betaLink(betaText, cspNonce, lng) }}
  {{ goBack(cspNonce = cspNonce) }}
{% endblock %}
{% block pageTitle %}
  {{ header }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">{{ header }}</h1>
  <p class="govuk-body">{{ bodyText }}</p>

  {{ govukButton({
    id: 'buttonForSignIn',
    text: buttonText,
    href: "/login?p=B2C_1_SignInUserFlow"
  }) }}
{% endblock %}
