{% from "macros/common-components.njk" import goBack, betaLink %}
{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ betaLink(betaText) }}
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link govuk-!-font-size-16t" href="/">Home</a>
  </ul>
  {{ goBack() }}
{% endblock %}
{% block pageTitle %}
  {{ header }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">{{ header }}</h1>
  <p class="govuk-body">{{ bodyText }}</p>
  {% if isAdmin %}
    {% set flow = "/admin-login?p=B2C_1_SignInAdminUserFlow" %}
  {% else %}
    {% set flow = "/login?p=B2C_1_SignInUserFlow" %}
  {% endif %}

  {{ govukButton({
    id: 'buttonForSignIn',
    text: buttonText,
    href: flow
  }) }}
{% endblock %}
