{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "./macros/common-components.njk" import goBack, submitButton %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
  {% if noResultsError  or invalidInputError %}
    <div class="govuk-grid-row">
      <div class="no_padding govuk-grid-column-full">
        {{ govukErrorSummary({
          titleText: error.title,
          errorList: [
            {
              text: error.notfound,
              href: "#search-input"
            }
          ]
        }) }}
      </div>
    </div>
  {% endif %}

  {% set inputClasses = 'govuk-!-width-two-thirds govuk-input--error'
    if noResultsError or invalidInputError else 'govuk-!-width-two-thirds' %}
  {% set formGroupError = 'govuk-form-group--error'
    if noResultsError or invalidInputError else 'govuk-form-group' %}
  {% set inputProperties = {
    id: "search-input",
    name: "search-input",
    errorMessage: {
      text: error.header
    },
    classes: 'govuk-!-width-one-third',
    label: {
      text: ''
    }
  } if noResultsError or invalidInputError else {
    id: "search-input",
    name: "search-input",
    classes: 'govuk-!-width-one-third',
    label: {
    text: hint
  }
    } %}
  <form action="case-reference-number-search" method="post">
    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">{{ header }}</h1>
      {{ govukInput(inputProperties) }}
    </div>
    {{ submitButton() }}
    {% if noResultsError or invalidInputError %}
      <div class="govuk-grid-row">
        <div class="no_padding govuk-grid-column-full">
          <h2 class="govuk-heading-s">{{ error.line1 }}</h2>
          <p class="govuk-body">{{ error.line2 }}</p>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
