{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <div class="parent-box">
    {% set regionName = listData['locationDetails']['region']['name'] %}
    <h2 id="page-heading" class="govuk-heading-l">{{ inCop }}{% if regionName %}: {{ regionName }}{% endif %}</h2>
    {% if regionalJoh %}<h2 id="page-heading2" class="govuk-heading-l">{{ regionalLeadJudge }}
      {{ regionalJoh }}</h2>{% endif %}
    <br>
    <h2 id="page-heading3" class="govuk-heading-l">{{ sittingAt }} {{ courtName }}</h2>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ listFor }} {{ contentDate }}</p>
    <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
    <details class="govuk-details" data-module="govuk-details" open>
      <summary class="govuk-details__summary"><span
          class="govuk-details__summary-text">{{ importantInformationHeading }}</span></summary>
      <div class="govuk-details__text">
        <p>{{ importantInformationP1 }}</p>
        <p>{{ importantInformationP2 }}</p>
        <p>{{ listData['venue']['venueContact']['venueEmail'] }} {{ listData['venue']['venueContact']['venueTelephone'] }}</p>
        <p>{{ importantInformationP3 }}</p>
        {% if bill %}
          <P>{{ importantInformationP4 }}</P>
          <P>{{ importantInformationP5 }}</P>
          <p>{{ listData['venue']['venueContact']['venueEmail'] }} {{ listData['venue']['venueContact']['venueTelephone'] }}</p>
          <P>{{ importantInformationP6 }}</P>
        {% endif %}
      </div>
    </details>
    {% for courtList in listData['courtLists'] %}
      {% set courtHouse = courtList['courtHouse'] %}
      <div class="site-header" tabindex="0" aria-label="Court Details">
        <h1 class="govuk-heading-l site-address" tabindex="0">{{ courtHouse['courtHouseName'] }}</h1>
      </div>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      {% set sessionCount = 0 %}
      {% for courtRoom in courtHouse['courtRoom'] %}
        {% set hearingCount = 1 %}
        {% set sessionCount = sessionCount + 1 %}
        {% for session in courtRoom['session'] %}
          <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ sessionCount }}">
              {% if session['formattedJudiciary'] | length %}
                {{ beforeHon }} {{ session['formattedJudiciary'] }}
              {% endif %}
            </span>
              </h2>
            </div>

            <div id="accordion-default-content-{{ sessionCount }}" class="govuk-accordion__section-content"
                 aria-labelledby="accordion-default-heading-{{ sessionCount }}">
              <div class="parent-box overflow-table">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">{{ startTime }}</th>
                    <th scope="col" class="govuk-table__header">{{ caseRef }}</th>
                    <th scope="col" class="govuk-table__header">{{ caseDetails }}</th>
                    <th scope="col" class="govuk-table__header">{{ hearingType }}</th>
                    <th scope="col" class="govuk-table__header">{{ timeEstimate }}</th>
                    <th scope="col" class="govuk-table__header">{{ hearingChannel }}</th>
                  </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                  {% for sitting in session['sittings'] %}
                    {% set durationAsHours = 0 %}
                    {% if sitting['durationAsHours'] > 1 %}
                      {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHours %}
                    {% elif sitting['durationAsHours'] === 1 %}
                      {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHour %}
                    {% endif %}
                    {% set durationAsMinutes = 0 %}
                    {% if sitting['durationAsMinutes'] > 1 %}
                      {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinutes %}
                    {% elif sitting['durationAsMinutes'] === 1 %}
                      {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinute %}
                    {% endif %}
                    {% set duration = '' %}
                    {% if durationAsHours === 0 and durationAsMinutes === 0 %}
                      {% set duration = '' %}
                    {% elif durationAsHours !== 0 and durationAsMinutes !== 0 %}
                      {% set duration = durationAsHours + ' ' + durationAsMinutes %}
                    {% elif durationAsHours === 0 %}
                      {% set duration = durationAsMinutes %}
                    {% elif durationAsMinutes === 0 %}
                      {% set duration = durationAsHours %}
                    {% endif %}
                    {% for hearing in sitting['hearing'] %}
                      {% for case in hearing['case'] %}
                        {% if courtRoom['totalHearing'] === hearingCount %}
                          {% set noBorder = 'no-border-bottom' %}
                        {% endif %}
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell {{ noBorder }}">{{ sitting['sittingStartFormatted'] }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ case['caseNumber'] }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ case['caseSuppressionName'] }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ hearing['hearingType'] }}</td>
                          {% if case['caseSequenceIndicator'] | length %}
                            <td class="govuk-table__cell {{ noBorder }}">{{ duration }} {{ case['caseSequenceIndicator'] }}</td>
                          {% else %}
                            <td class="govuk-table__cell {{ noBorder }}">{{ duration }}</td>
                          {% endif %}
                          <td class="govuk-table__cell {{ noBorder }}">{{ sitting['caseHearingChannel'] }}</td>
                        </tr>
                        {% set hearingCount = hearingCount + 1 %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    {% endfor %}
    <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance }}</p>
    {{ super() }}
  </div>
{% endblock %}
{% block bodyEnd %}
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  {{ super() }}
{% endblock %}
