{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ "Court List" | safe }}
{% endblock %}
{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}
{% block content %}
{#  <script nonce="{{ scriptNonce }}">#}
{#    document.addEventListener('scroll', function(e) {#}
{#      checkOffset();#}
{#    });#}

{#    function checkOffset() {#}
{#      console.log("We are scrolling")#}
{#      console.log(window.scrollY);#}
{#      console.log(window.innerHeight);#}
{#      console.log(document.getElementsByClassName('govuk-footer').item(0).offsetTop)#}
{#      console.log(document.getElementById('back-to-top-button').offsetTop)#}
{#      console.log(document.getElementById('back-to-top-button').offsetParent)#}

{#      var boundingBox = document.getElementById("grid-row").getBoundingClientRect();#}
{#      console.log(Math.abs(boundingBox.top));#}

{#      if(document.getElementById('back-to-top-button').offsetTop + Math.abs(boundingBox.top)#}
{#        >= document.getElementsByClassName('govuk-footer').item(0).offsetTop - 10)#}
{#        console.log("we are here")#}
{#        document.getElementById('back-to-top-button').style.position = 'absolute';#}
{#      if(window.scrollY + window.innerHeight < document.getElementsByClassName('govuk-footer').item(0).offsetTop)#}
{#        console.log("we are here")#}
{#        document.getElementById('back-to-top-button').style.position = 'fixed'; // restore when you scroll up#}
{#    }#}
{#  </script>#}
  <div id="grid-row" class="govuk-grid-row">
    <div id="parent-box" class="layout-width-one-fifth govuk-!-display-inline-block">
      <a id="back-to-top-button" class="govuk-link govuk-!-font-size-19 floating-back-to-top" href="#">Back to top</a>
    </div>
    <div class="layout-width-four-fifths">
      <h2 class="govuk-heading-l">Find a court or tribunal listing</h2>
      <div class="govuk-grid-row govuk-!-margin-bottom-8">
        {% for key, value in courtList %}
          {% if value| length == 0 %}
            <div class="govuk-grid-column width-column govuk-!-font-size-19">
              <a class="govuk-link govuk-link--no-underline">{{ key }}</a>
            </div>
          {% else %}
            <div class="govuk-grid-column width-column govuk-!-font-size-19">
              <a href='#{{ key }}' class="govuk-link govuk-link--no-visited-state">{{ key }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header app-custom-class"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Court of tribunal</th>
          <th scope="col" class="govuk-table__header number_hearings govuk-!-width-one-quarter">Number of hearings</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for key, value in courtList %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <h2 id="{{ key }}" class="govuk-heading-l">{{key}}</h2>
            </th>
            <td class="govuk-table__cell">
              {% if value | length == 0 %}
                <div class="text_disabled">No hearings are scheduled in any of these</div>
                <div class="text_disabled">locations today</div>
              {% else %}
                {% for courtName, hearings in value %}
                  <div><a href="#" class="govuk-link">{{ courtName }}</a></div>
                {% endfor %}
              {% endif %}
            </td>
            <td class="govuk-table__cell number_hearings">
              {% if value | length == 0 %}
                <div class="text_disabled">0</div>
              {% else %}
                {% for courtName, hearings in value %}
                  <div class="number_hearings">{{ hearings }}</div>
                {% endfor %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
