{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <div class="parent-box">
    {% set nameInput = govukInput({
      label: {
        text: nameLabel
      },
      classes: 'govuk-!-width-one-half',
      id: "fullName",
      name: "fullName",
      errorMessage: {
        text: formErrors.nameError.message
      },
      value: formErrors.nameError.value
    }) if formErrors.nameError.message else govukInput({
      label: {
        text: nameLabel
      },
      classes: 'govuk-!-width-one-half',
      id: "fullName",
      name: "fullName",
      value: formErrors.nameError.value
    }) %}

    {% set emailInput = govukInput({
      label: {
        text: emailLabel
      },
      hint: {
        text: emailHint
      },
      classes: "govuk-!-width-one-half",
      id: "emailAddress",
      name: "emailAddress",
      autocomplete: 'email',
      spellcheck: false,
      errorMessage: {
        text: formErrors.emailError.message
      },
      value: formErrors.emailError.value
    }) if formErrors.emailError.message else govukInput({
      label: {
        text: emailLabel
      },
      hint: {
        text: emailHint
      },
      classes: "govuk-!-width-one-half",
      id: "emailAddress",
      name: "emailAddress",
      autocomplete: 'email',
      spellcheck: false,
      value: formErrors.emailError.value
    }) %}

    {% set employerInput = govukInput({
      label: {
        text: employerLabel
      },
      classes: 'govuk-!-width-one-half',
      id: "employer",
      name: "employer",
      errorMessage: {
        text: formErrors.employerError.message
      },
      value: formErrors.employerError.value
    }) if formErrors.employerError.message else govukInput({
      label: {
        text: employerLabel
      },
      classes: "govuk-!-width-one-half",
      id: "employer",
      name: "employer",
      value: formErrors.employerError.value
    }) %}

    {% set fileInput = govukFileUpload({
      id: "file-upload",
      name: "file-upload",
      errorMessage: {
        text: formErrors.fileUploadError.message
      },
      attributes: {
        'aria-labelledby': 'photoType'
      }
    }) if formErrors.fileUploadError.message else govukFileUpload({
      id: "file-upload",
      name: "file-upload",
      attributes: {
        'aria-label': ariaFileLabel
      }
    }) %}

    {% set checkBox = govukCheckboxes({
      id: "tcbox",
      name: "tcbox",
      errorMessage: {text: formErrors.checkBoxError.message},
      items: [{value: "tcbox", text: TandCCheckbox, checked: formErrors.checkBoxError.value}]
    }) if formErrors.checkBoxError.message else govukCheckboxes({
      id: "tcbox",
      name: "tcbox",
      items: [{value: "tcbox", text: TandCCheckbox, checked: formErrors.checkBoxError.value}]
    }) %}

    {% if formErrors %}
      {% set listErrors = [] %}
      {% for key, option in formErrors %}
        {% set _ = listErrors.push({
          text: option.message,
          href: option.href
        }) %}
      {% endfor %}
      <div class="govuk-grid-row">
        <div class="no_padding govuk-grid-column-full">
          {{ govukErrorSummary({
            titleText: errorTitle,
            errorList: listErrors
          }) }}
        </div>
      </div>
    {% endif %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ paragraph1 }}</p>
    <p class="govuk-body">{{ paragraph2 }}</p>
    <p class="govuk-hint govuk-!-margin-bottom-7">{{ retainHint }}</p>
    <form method="post" enctype="multipart/form-data" novalidate>
      {{ nameInput }}
      {{ emailInput }}
      {{ employerInput }}
      <p class="govuk-body" tabindex="0">{{ photoMessage }}</p>
      <p class="govuk-hint" tabindex="0">{{ photoSubMessage }}</p>
      <p class="govuk-hint" tabindex="0">{{ uploadConsent }}</p>
      <p class="govuk-hint" id="photoType" tabindex="0">{{ photoType }}</p>
      {{ fileInput }}
      <p class="govuk-heading-l">{{ TandCHeading }}</p>
      <p class="govuk-body">{{ TandC1 }}</p>
      <p class="govuk-body">{{ TandC2 }}</p>
      {{ checkBox }}

      {{ submitButton(continueButton) }}
    </form>
    {{ super() }}
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
{% endblock %}
