{% extends "template.njk" %}
{% from "./macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack() }}
{% endblock %}
{% block content %}
    {% if displayError %}
        {{ govukErrorSummary({
            titleText: error.title,
            errorList: [
                {
                    text: error.message,
                    href: "#"
                }
            ]
        }) }}
    {% endif %}
    <h1 class="govuk-heading-l">{{ header }}</h1>
    <form method="post" action="create-system-admin-account-summary">
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                        text: firstNameKey
                    },
                    value: {
                        text: formData.firstName
                    },
                    actions: {
                        items: [
                            {
                                href: "create-system-admin-account#firstName",
                                text: actionName,
                                visuallyHiddenText: firstNameKey
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: lastNameKey
                    },
                    value: {
                        text: formData.lastName
                    },
                    actions: {
                        items: [
                            {
                                href: "create-system-admin-account#lastName",
                                text: actionName,
                                visuallyHiddenText: lastNameKey
                            }
                        ]
                    }
                },
                {
                    key: {
                        text: emailAddressKey
                    },
                    value: {
                        text: formData.emailAddress
                    },
                    actions: {
                        items: [
                            {
                                href: "create-system-admin-account#emailAddress",
                                text: actionName,
                                visuallyHiddenText: emailAddressKey
                            }
                        ]
                    }
                }
            ]
        }) }}
      {{ submitButton(confirmButton) }}
    </form>
{% endblock %}
{% block bodyEnd %}
    {{ super() }}
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
{% endblock %}
