{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <div class="parent-box">
    <h2 id='page-heading' class="govuk-heading-l">
      {{ courtName }}: {{ headerPart1 }}
      {% if bill %}
        <br />/{{ courtName }}: {{ headerPart2 }}
      {% endif %}
    </h2>
    <p class="govuk-body govuk-!-font-weight-bold">{{ listDate }} {{ contentDate }}</p>
    <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
    <p class="govuk-body">{{ draft }} {{ versionText }} {{ version }}</p><br/>
    <p class="govuk-body">
      {% for line in listData['venue']['venueAddress']['line'] %}
        {{ line }}<br />
      {% endfor %}
      {{ listData['venue']['venueAddress']['postCode'] }}
    </p>
    <div class="govuk-grid restriction-list-section">
        <div class="govuk-body">
          <h3>{{ restrictionInformationHeading }}</h3>
          <p class="govuk-body">{{ restrictionInformationP1 }}</p>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon align-warning-icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              {{ restrictionInformationBoldText }}
            </strong>
          </div>
          <p class="govuk-body">{{ restrictionInformationP2 }}</p>
          <p class="govuk-body">{{ restrictionInformationP3 }}</p>
          <p class="govuk-body">{{ restrictionInformationP4 }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ restrictionBulletPoint1 }}</li>
            <li>{{ restrictionBulletPoint2 }}</li>
          </ul>
          <p class="govuk-body">{{ restrictionInformationP5 }} <a href="#" class="govuk-link">{{ restrictionLink }}</a> </p>
        </div>
        {% if bill %}
          <div class="govuk-body">
            <h3>{{ restrictionInformationHeadingBill }}</h3>
            <p class="govuk-body">{{ restrictionInformationP1Bill }}</p>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon align-warning-icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                {{ restrictionInformationBoldTextBill }}
              </strong>
            </div>
            <p class="govuk-body">{{ restrictionInformationP2Bill }}</p>
            <p class="govuk-body">{{ restrictionInformationP3Bill }}</p>
            <p class="govuk-body">{{ restrictionInformationP4Bill }}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ restrictionBulletPoint1Bill }}</li>
              <li>{{ restrictionBulletPoint2Bill }}</li>
            </ul>
            <p class="govuk-body">{{ restrictionInformationP5Bill }} <a href="#" class="govuk-link">{{ restrictionLinkBill }}</a> </p>
          </div>
        {% endif %}
      </div>
    </div>
    {% for courtList in listData['courtLists'] %}
      {% set courtHouse = courtList['courtHouse'] %}
      {% set courtHouseAddress = courtHouse['courtHouseAddress'] %}
      <div class="site-header" tabindex="0" aria-label="Court Details">
        {% if courtList['unallocatedCases'] !== true %}
          <h1 class="govuk-heading-l site-address" tabindex="0">{{ sittingAtCourt }} {{ courtHouse['courtHouseName'] }}</h1>
        {% else %}
          <h3 class="govuk-heading-m site-address" tabindex="0">{{ unallocatedCourtText }}</h3>
          <h3 class="govuk-heading-m site-address" tabindex="0">{{ toBeAllocatedText }}</h3>
        {% endif %}
      </div>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        {% set sessionCount = 0 %}
        {% for courtRoom in courtHouse['courtRoom'] %}
          {% if courtRoom['exclude'] !== true %}
            {% set hearingCount = 1 %}
            {% for session in courtRoom['session'] %}
            {% set sessionCount = sessionCount + 1 %}

            {% set sessionChannel = '' %}
            {% for channel in session['sessionChannel'] %}
              {% set sessionChannel = sessionChannel + ', ' + channel %}
            {% endfor %}

            {% set sessionChannel = sessionChannel.slice(1) %}

            <div class="govuk-accordion__section govuk-accordion__section--expanded">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ sessionCount }}">
                    {% if session['formattedJudiciaries'] | length and courtList['unallocatedCases'] !== true %}
                      {{ courtRoom['courtRoomName'] }}: {{ session['formattedJudiciaries'] }}
                    {% else %}
                      {{ courtRoom['courtRoomName'] }}
                    {% endif %}
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-{{ sessionCount }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ sessionCount }}">
                <div class="parent-box overflow-table">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header no-wrap">{{ sittingAt }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ caseReference }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ defendantName }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ hearingType }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ duration }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ prosecutingAuthority }}</th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                    {% for sitting in session['sittings'] %}
                      {% set hearingPlatform = '' %}
                      {% if sitting['channel'].length === 0 %}
                        {% set hearingPlatform = sessionChannel %}
                      {% else %}
                        {% for channel in sitting['channel'] %}
                          {% set hearingPlatform = hearingPlatform + ', ' + channel %}
                        {% endfor %}
                        {% set hearingPlatform = hearingPlatform.slice(1) %}
                      {% endif %}
                      {% set durationAsHours = 0 %}
                      {% if sitting['durationAsHours'] !== 0 %}
                        {% if sitting['durationAsHours'] > 1 %}
                          {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHours %}
                          {% elif sitting['durationAsHours'] === 1 %}
                          {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHour %}
                        {% endif %}
                      {% endif %}
                      {% set durationAsMinutes = 0 %}
                      {% if sitting['durationAsMinutes'] !== 0 %}
                        {% if sitting['durationAsMinutes'] > 1 %}
                          {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinutes %}
                          {% elif sitting['durationAsMinutes'] === 1 %}
                          {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinute %}
                        {% endif %}
                      {% endif %}
                      {% set duration = '' %}
                      {% if durationAsHours === 0 and durationAsMinutes === 0 %}
                        {% set duration = '' %}
                        {% elif durationAsHours !== 0 and durationAsMinutes !== 0 %}
                        {% set duration = durationAsHours + ' ' + durationAsMinutes %}
                        {% elif durationAsHours === 0 %}
                        {% set duration = durationAsMinutes %}
                        {% elif durationAsMinutes === 0 %}
                        {% set duration = durationAsHours %}
                      {% endif %}
                      {% for hearing in sitting['hearing'] %}
                        {% for case in hearing['case'] %}
                          {% if courtRoom['totalHearing'] === hearingCount %}
                            {% set noBorder = 'no-border-bottom' %}
                          {% endif %}
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ sitting['time'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ case['caseNumber'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ hearing['defendant'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ hearing['hearingType'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ duration }} {{ case['caseSequenceIndicator'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ hearing['prosecutingAuthority'] }}</td>
                          </tr>
                          {% if case['linkedCases'] | length %}
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell no-border-bottom" colspan="6"><strong>{{ linkedCases }}:</strong> {{ case['linkedCases'] }}</td>
                            </tr>
                          {% endif %}
                          {% if hearing['listingNotes'] | length %}
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell {{ noBorder }}" colspan="6"><strong>{{ listingNotes }}:</strong> {{ hearing['listingNotes'] }}</td>
                            </tr>
                          {% endif %}
                          {% set hearingCount = hearingCount + 1 %}
                        {% endfor %}
                      {% endfor %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
    <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance }}</p>
    {{ super() }}
  </div>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
