{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack, searchInput %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "list-template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <div class="parent-box">
    <h2 id='page-heading' class="govuk-heading-l">
      {{ courtName }}: {{ headerPart1 }}
      {% if bill %}
        <br/>/{{ courtName }}: {{ headerPart2 }}
      {% endif %}
    </h2>
    <p class="govuk-body govuk-!-font-weight-bold">{{ listDate }} {{ startDate }} {{ to }} {{ endDate }}</p>
    <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
    <p class="govuk-body">{{ draft }} {{ versionText }} {{ version }}</p><br/>
    <p class="govuk-body">
      {% for line in listData['venue']['venueAddress']['line'] %}
        {{ line }}<br/>
      {% endfor %}
      {% if listData['venue']['venueAddress']['town'] | length %}
        {{ listData['venue']['venueAddress']['town'] }}<br/>
      {% endif %}
      {% if listData['venue']['venueAddress']['county'] | length %}
        {{ listData['venue']['venueAddress']['county'] }}<br/>
      {% endif %}
      {{ listData['venue']['venueAddress']['postCode'] }}
    </p>
    <div class="govuk-grid restriction-list-section govuk-!-margin-bottom-5">
      <div class="govuk-body">
        <h3>{{ restrictionInformationHeading }}</h3>
        <p class="govuk-body">{{ restrictionInformationP1 }}</p>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon align-warning-icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            {{ restrictionInformationBoldText }}
          </strong>
        </div>
        <p class="govuk-body">{{ restrictionInformationP2 }}</p>
        <p class="govuk-body">{{ restrictionInformationP3 }}</p>
        <p class="govuk-body">{{ restrictionInformationP4 }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ restrictionBulletPoint1 }}</li>
          <li>{{ restrictionBulletPoint2 }}</li>
        </ul>
        <p class="govuk-body">{{ restrictionInformationP5 }} <a href="#" class="govuk-link">{{ restrictionLink }}</a>
        </p>
      </div>
      {% if bill %}
        <div class="govuk-body">
          <h3>{{ restrictionInformationHeadingBill }}</h3>
          <p class="govuk-body">{{ restrictionInformationP1Bill }}</p>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon align-warning-icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              {{ restrictionInformationBoldTextBill }}
            </strong>
          </div>
          <p class="govuk-body">{{ restrictionInformationP2Bill }}</p>
          <p class="govuk-body">{{ restrictionInformationP3Bill }}</p>
          <p class="govuk-body">{{ restrictionInformationP4Bill }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ restrictionBulletPoint1Bill }}</li>
            <li>{{ restrictionBulletPoint2Bill }}</li>
          </ul>
          <p class="govuk-body">{{ restrictionInformationP5Bill }} <a href="#"
                                                                      class="govuk-link">{{ restrictionLinkBill }}</a>
          </p>
        </div>
      {% endif %}
    </div>
  </div>
  {{ searchInput(text = searchCases) }}
  <div class="search-area">
    {% for court in allocated %}
      {% for day in court.days %}
        {% set tableHeaders = '<div class="parent-box overflow-table"><table class="govuk-table"  data-module="moj-sortable-table"><thead class="govuk-table__head"><tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header no-wrap" aria-sort="none">' + sittingAt  + '</th>
                        <th scope="col" class="govuk-table__header no-wrap" aria-sort="none">' + caseReference +'</th>
                        <th scope="col" class="govuk-table__header no-wrap" aria-sort="none">' + defendantName +'</th>
                        <th scope="col" class="govuk-table__header no-wrap" aria-sort="none">' + hearingType + '</th>
                        <th scope="col" class="govuk-table__header no-wrap" aria-sort="none">' + duration +'</th>
                        <th scope="col" class="govuk-table__header no-wrap" aria-sort="none">' + defendantRep + '</th>
                        <th scope="col" class="govuk-table__header no-wrap" aria-sort="none">' + prosecutingAuthority + '</th>
                      </tr></thead><tbody class="govuk-table__body">' %}
        {% set closing = '</tbody></table></div>' %}
        {% set currentTable = [] %}
        {% set courtHouse = court.courtName %}
        <div class="site-header" tabindex="0" aria-label="Court Details">
          <h1 class="govuk-heading-l site-address" tabindex="0">{{ sittingAtCourt }} {{ courtHouse }}</h1>
          <h2 class="govuk-heading-l"> {{ day[0].data[0].sittingDate }}</h2>
        </div>
        <br/>
        {% for room in day %}
          {% set roomHeading = room.courtRoom + ":  " + room.data[0].joh %}
          {% set tableRows = [] %}
          {% set _ = tableRows.push(tableHeaders) %}
          {% for row in room.data %}
            {% set noBorderLinkedCases, theseLinkedCases, hearingNotes, noBorder = '' %}
            {% if (row.linkedCases | length !== 0) or (row.hearingNotes | length !== 0) %}
              {% set noBorder = ' no-border-bottom' %}
            {% endif %}
            {% set timeSortValue = row.sittingTime | timeToSortValue %}
            {% set duration = row.formattedDuration | appendCaseSequenceIndicator(row.caseSeparator) %}
            {% set thisRow =
              '<tr class="govuk-table__row">
                              <td class="govuk-table__cell no-wrap' + noBorder + '" data-sort-value="' + timeSortValue + '">' + row.sittingTime + '</td>
                              <td class="govuk-table__cell no-wrap' + noBorder + '">' + row.caseNumber + '</td>
                              <td class="govuk-table__cell no-wrap' + noBorder + '">' +  row.defendant + '</td>
                              <td class="govuk-table__cell no-wrap' + noBorder + '">' +  row.hearingType + '</td>
                              <td class="govuk-table__cell no-wrap' + noBorder + '" data-sort-value="' + row.durationSortValue + '">' + duration + '</td>
                              <td class="govuk-table__cell no-wrap' + noBorder + '">' + row.defendantRepresentative + '</td>
                              <td class="govuk-table__cell no-wrap' + noBorder + '">' + row.prosecutingAuthority + '</td>
                            </tr>' %}
            {% if row.linkedCases | length %}
              {% if row.hearingNotes | length !== 0 %}
                {% set noBorderLinkedCases = 'no-border-bottom' %}
              {% endif %}
              {% set theseLinkedCases =
                '<tr class="govuk-table__row">
                  <td class="govuk-table__cell ' + noBorderLinkedCases + '" colspan="7" data-sort-value="' + timeSortValue + '"><span class="linked-cases-heading">' + linkedCases + ':</span> ' + row.linkedCases + '</td>
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.caseNumber + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.defendant + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.hearingType + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.durationSortValue + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.defendantRepresentative + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.prosecutingAuthority + '" />
                 </tr>' %}
            {% endif %}
            {% if row.hearingNotes | length %}
              {% set noBorderLinkedCases = '' %}
              {% set hearingNotes =
                '<tr class="govuk-table__row">
                  <td class="govuk-table__cell" colspan="7" data-sort-value="' + timeSortValue + '"><span class="linked-cases-heading">' + listingNotes + ':</span> '+ row.hearingNotes + '</td>
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.caseNumber + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.defendant + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.hearingType + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.durationSortValue + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.defendantRepresentative + '" />
                  <td class="govuk-table__cell no-border-bottom" data-sort-value="' + row.prosecutingAuthority + '" />
                </tr>' %}
            {% endif %}
            {% for x in [thisRow, theseLinkedCases, hearingNotes] %}
              {% set _ = tableRows.push(x) %}
            {% endfor %}
          {% endfor %}
          {% set tableRows = tableRows | join %}
          {% set _ = currentTable.push(
            { heading: {text: roomHeading},
              content: {html: tableRows + closing}
            }) %}
        {% endfor %}
        {{ govukAccordion({
          id: "accordion-default-firmList"+loop.index,
          items: currentTable}) }}
      {% endfor %}
    {% endfor %}
    <br/>
    <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance | maskLegacyDataSource }}</p>
  </div>
  {{ super() }}
{% endblock %}
