{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
  <h2 id='page-heading' class="govuk-heading-l">{{ header }} <br />{{ searchResults['venue']['venueName']}}</h2>
  <p class="govuk-body">
    {% for line in searchResults['venue']['venueAddress']['line'] %}
      {{ line }}<br />
    {% endfor %}
    {{ searchResults['venue']['venueAddress']['postCode'] }}
  </p>
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ listDate }} {{ contactDate }}</p>
  <p class="govuk-body">{{ published | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ importantInformationHeading }}
        </span>
    </summary>
    <div class="govuk-details__text">
      <p>{{ importantInformationP1 }}</p>
      <p>{{ importantInformationP2 | replace("NAME", searchResults['venue']['venueName']) | replace("EMAIL", searchResults['venue']["venueContact"]["venueEmail"]) | replace("TELNO", searchResults['venue']['venueContact']['venueTelephone'])}}</p>
      <p>{{ importantInformationP3 }}</p>
    </div>
  </details>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    {% for courtList in searchResults['courtLists'] %}
      {% set sessionCount = 0 %}
      {% for courtRoom in courtList['courtHouse']['courtRoom'] %}
        {% set hearingCount = 1 %}
        {% for session in courtRoom['session'] %}
          {% set sessionCount = sessionCount + 1 %}
          {% set sessionChannel = session['sessionChannel'][0] %}
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ sessionCount }}">
                {{ courtroomAccordionHeading }} {{ courtRoom['courtRoomName'] }} {{ session['judiciary'][0]['johTitle'] }} {{ session['judiciary'][0]['johNameSurname'] }}
              </span>
              </h2>
            </div>
            <div id="accordion-default-content-{{ sessionCount }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ sessionCount }}">

              <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Case ID</th>
                  <th scope="col" class="govuk-table__header">Case name</th>
                  <th scope="col" class="govuk-table__header">Hearing type</th>
                  <th scope="col" class="govuk-table__header">Hearing platform</th>
                  <th scope="col" class="govuk-table__header">Start time</th>
                  <th scope="col" class="govuk-table__header">Duration</th>
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                {% for sitting in session['sittings'] %}
                  {% set hearingPlatform = sitting['channel'][0] %}
                  {% if sitting['channel'][0] === '' %}
                    {% set hearingPlatform = sessionChannel %}
                  {% endif %}
                  {% set duration = sitting['duration'] %}
                  {% if sitting['duration'] !== '' %}
                    {% set duration = sitting['duration'] + ' ' + hearingDuration %}
                  {% endif %}
                  {% for hearing in sitting['hearing'] %}
                    {% for case in hearing['case'] %}
                      {% if courtRoom['totalHearing'] === hearingCount %}
                        {% set noBorder = 'no-border-bottom' %}
                      {% endif %}
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell {{ noBorder }}">{{ case['caseNumber'] }}</td>
                        <td class="govuk-table__cell {{ noBorder }}">{{ case['caseName'] }}</td>
                        <td class="govuk-table__cell {{ noBorder }}">{{ hearing['hearingType'] }}</td>
                        <td class="govuk-table__cell {{ noBorder }}">{{ hearingPlatform }}</td>
                        <td class="govuk-table__cell {{ noBorder }}">{{ sitting['startTime'] }}</td>
                        <td class="govuk-table__cell {{ noBorder }}">{{ duration }}</td>
                      </tr>
                      {% set hearingCount = hearingCount + 1 %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
