{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack, searchInput %}

{% extends "list-template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
<div class="parent-box">
  <h2 id='page-heading' class="govuk-heading-l">
    {{ headerPart1 }}{{ courtName }}
    {% if bill %}
      <br />/{{ headerPart2 }}{{ courtName }}
    {% endif %}
  </h2>
  <p class="govuk-body">
    {% for line in listData['venue']['venueAddress']['line'] %}
      {% if line | length %}
        {{ line }}<br />
      {% endif %}
    {% endfor %}
    {{ listData['venue']['venueAddress']['postCode'] }}
  </p>
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ listDate }} {{ contentDate }}</p>
  <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
  <details class="govuk-details" data-module="govuk-details" open>
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ importantInformationHeading }}
        </span>
    </summary>
    <div class="govuk-details__text">
      <p>{{ importantInformationP1 }}</p>
      <p>{{ importantInformationP2 | replace("NAME", courtName) | replace("EMAIL", listData['venue']["venueContact"]["venueEmail"]) | replace("TELNO", listData['venue']['venueContact']['venueTelephone']) }}</p>
      <p>{{ importantInformationP3 }}</p>
      <p>{{ importantInformationP4 }}</p>
      <p>{{ importantInformationP5 }} {{ openJusticeGuidance | urlize | safe }}.</p>
      {% if bill %}
        <P>{{ importantInformationP6 }}</P>
        <P>{{ importantInformationP7 | replace("NAME", courtName) | replace("EMAIL", listData['venue']["venueContact"]["venueEmail"]) | replace("TELNO", listData['venue']['venueContact']['venueTelephone']) }}</P>
        <P>{{ importantInformationP8 }}</P>
        <P>{{ importantInformationP9 }}</P>
        <p>{{ importantInformationP10 }} {{ openJusticeGuidance | urlize | safe }}.</p>
      {% endif %}
    </div>
  </details>
  {{ searchInput(text = searchCases) }}
  <div class="search-area">
    {% set courtCount = 0 %}
    {% set sessionCount = 0 %}
    {% for courtList in listData['courtLists'] %}
      {% set courtHouse = courtList['courtHouse'] %}
      {% set courtHouseAddress = courtHouse['courtHouseAddress'] %}
      {% set courtCount = courtCount + 1 %}
      <div class="site-header" tabindex="0" aria-label="Court Details">
        <h1 class="govuk-heading-l site-address" tabindex="0">{{ courtHouse['courtHouseName'] }}</h1>
        {% for line in courtHouseAddress['line'] %}
          {% if line | length %}
            <p class="govuk-body site-address" tabindex="0">{{ line }}</p>
          {% endif %}
        {% endfor %}
        {% if courtHouseAddress['town'] | length %}
          <p class="govuk-body site-address" tabindex="0">{{ courtHouseAddress['town'] }}</p>
        {% endif %}
        {% if courtHouseAddress['county'] | length %}
          <p class="govuk-body site-address" tabindex="0">{{ courtHouseAddress['county'] }}</p>
        {% endif %}
        {% if courtHouseAddress['postCode'] | length %}
          <p class="govuk-body site-address" tabindex="0">{{ courtHouseAddress['postCode'] }}</p>
        {% endif %}
      </div>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-{{ courtCount }}">
          {% for courtRoom in courtHouse['courtRoom'] %}
            {% for session in courtRoom['session'] %}
              {% set sessionCount = sessionCount + 1 %}

              {% set sessionChannel = '' %}
              {% for channel in session['sessionChannel'] %}
                {% set sessionChannel = sessionChannel + ', ' + channel %}
              {% endfor %}

              {% set sessionChannel = sessionChannel.slice(1) %}

              <div class="govuk-accordion__section govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ sessionCount }}">
                    {% if session['formattedJudiciaries'] | length %}
                      {{ courtRoom['courtRoomName'] }}: {{ session['formattedJudiciaries'] }}
                    {% else %}
                      {{ courtRoom['courtRoomName'] }}
                    {% endif %}
                  </span>
                  </h2>
                </div>
                <div id="accordion-default-content-{{ sessionCount }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ sessionCount }}">
                  <div class="parent-box overflow-table">
                    <table class="govuk-table" data-module="moj-sortable-table">
                      <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" aria-sort="none">{{ time }}</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">{{ caseId }}</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">{{ caseName }}</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">{{ hearingType }}</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">{{ hearingPlatform }}</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">{{ duration }}</th>
                      </tr>
                      </thead>

                      <tbody class="govuk-table__body">
                      {% for sitting in session['sittings'] %}
                        {% set hearingPlatform = '' %}
                        {% if sitting['channel'].length === 0 %}
                          {% set hearingPlatform = sessionChannel %}
                        {% else %}
                          {% for channel in sitting['channel'] %}
                            {% set hearingPlatform = hearingPlatform + ', ' + channel %}
                          {% endfor %}
                          {% set hearingPlatform = hearingPlatform.slice(1) %}
                        {% endif %}
                        {% set duration = sitting.durationAsHours | getDuration(sitting.durationAsMinutes, lng) %}
                        {% set durationSortValue = sitting.durationAsHours | durationToSortValue(sitting.durationAsMinutes) %}
                        {% for hearing in sitting['hearing'] %}
                          {% for case in hearing['case'] %}
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell" data-sort-value="{{ sitting['time'] | timeToSortValue }}">{{ sitting['time'] }}</td>
                              <td class="govuk-table__cell">{{ case['caseNumber'] }}</td>
                              <td class="govuk-table__cell">{{ case['caseName'] | appendCaseSequenceIndicator(case['caseSequenceIndicator']) }}</td>
                              <td class="govuk-table__cell">{{ hearing['hearingType'] }}</td>
                              <td class="govuk-table__cell">{{ hearingPlatform }}</td>
                              <td class="govuk-table__cell" data-sort-value="{{ durationSortValue }}">{{ duration }}</td>
                            </tr>
                          {% endfor %}
                        {% endfor %}
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
      </div>
    {% endfor %}
    <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance | maskLegacyDataSource }}</p>
    {{ super() }}
  </div>
</div>
{% endblock %}
