{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
  <h2 id='page-heading' class="govuk-heading-l">{{ header }} {{ searchResults['venue']['venueName']}}</h2>
  <p class="govuk-body">
    {% for line in searchResults['venue']['venueAddress']['line'] %}
      {{ line }}<br />
    {% endfor %}
    {{ searchResults['venue']['venueAddress']['postCode'] }}
  </p>
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ listDate }} {{ publishedDate }}</p>
  <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
  <details class="govuk-details" data-module="govuk-details" open>
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ importantInformationHeading }}
        </span>
    </summary>
    <div class="govuk-details__text">
      <p>{{ importantInformationP1 }}</p>
      <p>{{ importantInformationP2 | replace("NAME", searchResults['venue']['venueName']) | replace("EMAIL", searchResults['venue']["venueContact"]["venueEmail"]) | replace("TELNO", searchResults['venue']['venueContact']['venueTelephone'])}}</p>
      <p>{{ importantInformationP3 }}</p>
    </div>
  </details>
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    {% for courtList in searchResults['courtLists'] %}
      {% set sessionCount = 0 %}
      {% for courtRoom in courtList['courtHouse']['courtRoom'] %}
        {% set hearingCount = 1 %}
        {% for session in courtRoom['session'] %}
          {% set sessionCount = sessionCount + 1 %}

          {% set sessionChannel = '' %}
          {% for channel in session['sessionChannel'] %}
            {% set sessionChannel = sessionChannel + ', ' + channel %}
          {% endfor %}

          {% set sessionChannel = sessionChannel.slice(1) %}

          {% set judiciaryJudges = '' %}
          {% for judge in session['judiciary'] %}
            {% set judiciaryJudges = judiciaryJudges + ', ' + judge['johTitle'] + ' ' + judge['johNameSurname'] %}
          {% endfor %}
          {% set judiciaryJudges = judiciaryJudges.slice(1) %}
          <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ sessionCount }}">
                {{ courtRoom['courtRoomName'] }} : {{ judiciaryJudges }}
              </span>
              </h2>
            </div>
            <div id="accordion-default-content-{{ sessionCount }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ sessionCount }}">
              <div class="parent-box overflow-table">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">{{ time }}</th>
                    <th scope="col" class="govuk-table__header">{{ caseId }}</th>
                    <th scope="col" class="govuk-table__header">{{ nameOfParty }}</th>
                    <th scope="col" class="govuk-table__header">{{ hearingType }}</th>
                    <th scope="col" class="govuk-table__header">{{ hearingPlatform }}</th>
                    <th scope="col" class="govuk-table__header">{{ duration }}</th>
                  </tr>
                  </thead>

                  <tbody class="govuk-table__body">
                  {% for sitting in session['sittings'] %}
                    {% set hearingPlatform = '' %}
                    {% if sitting['channel'].length === 0 %}
                      {% set hearingPlatform = sessionChannel %}
                    {% else %}
                      {% for channel in sitting['channel'] %}
                        {% set hearingPlatform = hearingPlatform + ', ' + channel %}
                      {% endfor %}

                      {% set hearingPlatform = hearingPlatform.slice(1) %}
                    {% endif %}

                    {% set durationAsHours = 0 %}
                    {% if sitting['durationAsHours'] !== 0 %}
                      {% if sitting['durationAsHours'] > 1 %}
                        {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHours %}
                        {% elif sitting['durationAsHours'] === 1 %}
                        {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHour %}
                      {% endif %}
                    {% endif %}
                    {% set durationAsMinutes = 0 %}
                    {% if sitting['durationAsMinutes'] !== 0 %}
                      {% if sitting['durationAsMinutes'] > 1 %}
                        {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinutes %}
                        {% elif sitting['durationAsMinutes'] === 1 %}
                        {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinute %}
                      {% endif %}
                    {% endif %}
                    {% set duration = '' %}
                    {% if durationAsHours === 0 and durationAsMinutes === 0 %}
                      {% set duration = '' %}
                      {% elif durationAsHours !== 0 and durationAsMinutes !== 0 %}
                      {% set duration = durationAsHours + ' ' + durationAsMinutes %}
                      {% elif durationAsHours === 0 %}
                      {% set duration = durationAsMinutes %}
                      {% elif durationAsMinutes === 0 %}
                      {% set duration = durationAsHours %}
                    {% endif %}

                    {% for hearing in sitting['hearing'] %}
                      {% for case in hearing['case'] %}
                        {% if courtRoom['totalHearing'] === hearingCount %}
                          {% set noBorder = 'no-border-bottom' %}
                        {% endif %}
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell {{ noBorder }}">{{ sitting['time'] }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ case['caseNumber'] }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ case['caseName'] }} {{ case['caseSequenceIndicator'] }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ hearing['hearingType'] }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ hearingPlatform }}</td>
                          <td class="govuk-table__cell {{ noBorder }}">{{ duration }}</td>
                        </tr>
                        {% set hearingCount = hearingCount + 1 %}
                      {% endfor %}
                    {% endfor %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
  <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: [{{ provenance }}]</p>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
