{% from "macros/common-components.njk" import goBack %}
{% extends "template.njk" %}

{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block pageTitle %}
  {{ header }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">{{ header }}</h1>
  <p class="govuk-body">{{ retryMessage }}</p>
  <p class="govuk-body">{{ contactUsMessage }}</p>
{% endblock %}
