{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "template.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: text,
    href: '#',
    attributes: {
      onClick: "history.back();event.preventDefault();"
    }
  }) }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">{{ header }}</h1>
{% endblock %}
