{% from "macros/common-components.njk" import goBack %}
{% extends "template.njk" %}

{% block beforeContent %}
  {{ goBack() }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">{{ header }}</h1>
{% endblock %}
