{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <div class="parent-box">
    <h2 id='page-heading' class="govuk-heading-l">
      {{ headerPart1 }}<br />{{ headerPart2 }}{{ courtName }}
      {% if bill %}
        <br />/{{ headerPart3 }}<br />{{ headerPart4 }}{{ courtName }}
      {% endif %}
    </h2>

    <p class="govuk-body-l"><a class="govuk-link" href="{{ factLink }}">{{ courtName }} - view details</a></p>
  <p class="govuk-body">
    {% for line in listData['venue']['venueAddress']['line'] %}
      {{ line }}<br />
    {% endfor %}
    {{ listData['venue']['venueAddress']['postCode'] }}
  </p>
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ listDate }} {{ contentDate }}</p>
  <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
  <details class="govuk-details" data-module="govuk-details" open>
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ importantInformationHeading }}
        </span>
    </summary>
    <div class="govuk-details__text">
      <p>{{ importantInformationP1 }}</p>
      <p>{{ importantInformationP2 | replace("NAME", courtName) | replace("EMAIL", listData['venue']["venueContact"]["venueEmail"]) | replace("TELNO", listData['venue']['venueContact']['venueTelephone'])}}</p>
      <p>{{ importantInformationP3 }}</p>
      {% if bill %}
        <P>{{ importantInformationP4 }}</P>
        <P>{{ importantInformationP5 | replace("NAME", courtName) | replace("EMAIL", listData['venue']["venueContact"]["venueEmail"]) | replace("TELNO", listData['venue']['venueContact']['venueTelephone'])}}</P>
        <P>{{ importantInformationP6 }}</P>
      {% endif %}
    </div>
  </details>
  {% for courtList in listData['courtLists'] %}
    {% set courtHouse = courtList['courtHouse'] %}
    {% set courtHouseAddress = courtHouse['courtHouseAddress'] %}
    <div class="site-header" tabindex="0" aria-label="Court Details">
      <h1 class="govuk-heading-l site-address" tabindex="0">{{ courtHouse['courtHouseName'] }}</h1>
      {% for line in courtHouseAddress['line'] %}
        <p class="govuk-body site-address" tabindex="0">{{ line }}</p>
      {% endfor %}
      {% if courtHouseAddress['town'] | length %}
        <p class="govuk-body site-address" tabindex="0">{{ courtHouseAddress['town'] }}</p>
      {% endif %}
      {% if courtHouseAddress['county'] | length %}
        <p class="govuk-body site-address" tabindex="0" >{{ courtHouseAddress['county'] }}</p>
      {% endif %}
      {% if courtHouseAddress['postCode'] | length %}
        <p class="govuk-body site-address" tabindex="0" aria-label="Postcode">{{ courtHouseAddress['postCode'] }}</p>
      {% endif %}
    </div>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        {% set sessionCount = 0 %}
        {% for courtRoom in courtList['courtHouse']['courtRoom'] %}
          {% set hearingCount = 1 %}
          {% for session in courtRoom['session'] %}
            {% set sessionCount = sessionCount + 1 %}
            {% set sessionChannel = session['sessionChannel'][0] %}
            <div class="govuk-accordion__section govuk-accordion__section--expanded">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ sessionCount }}">
                  {% if session['formattedJudiciaries'] | length %}
                    {{ courtRoom['courtRoomName'] }}, {{ beforeJudge}}: {{ session['formattedJudiciaries'] }}
                  {% else %}
                    {{ courtRoom['courtRoomName'] }}
                  {% endif %}
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-{{ sessionCount }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ sessionCount }}">
                <div class="parent-box overflow-table">
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header no-wrap">{{ time }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ CaseRef }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ caseName }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ caseType }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ hearingType }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ location }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ duration }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ applicant }}</th>
                      <th scope="col" class="govuk-table__header no-wrap">{{ respondent }}</th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                    {% for sitting in session['sittings'] %}
                       {% set durationAsHours = 0 %}
                      {% if sitting['durationAsHours'] !== 0 %}
                        {% if sitting['durationAsHours'] > 1 %}
                          {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHours %}
                          {% elif sitting['durationAsHours'] === 1 %}
                          {% set durationAsHours = sitting['durationAsHours'] + ' ' + hearingDurationHour %}
                        {% endif %}
                      {% endif %}
                      {% set durationAsMinutes = 0 %}
                      {% if sitting['durationAsMinutes'] !== 0 %}
                        {% if sitting['durationAsMinutes'] > 1 %}
                          {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinutes %}
                          {% elif sitting['durationAsMinutes'] === 1 %}
                          {% set durationAsMinutes = sitting['durationAsMinutes'] + ' ' + hearingDurationMinute %}
                        {% endif %}
                      {% endif %}
                      {% set duration = '' %}
                      {% if durationAsHours === 0 and durationAsMinutes === 0 %}
                        {% set duration = '' %}
                        {% elif durationAsHours !== 0 and durationAsMinutes !== 0 %}
                        {% set duration = durationAsHours + ' ' + durationAsMinutes %}
                        {% elif durationAsHours === 0 %}
                        {% set duration = durationAsMinutes %}
                        {% elif durationAsMinutes === 0 %}
                        {% set duration = durationAsHours %}
                      {% endif %}

                      {% for hearing in sitting['hearing'] %}
                        {% for case in hearing['case'] %}
                          {% if courtRoom['totalHearing'] === hearingCount %}
                            {% set noBorder = 'no-border-bottom' %}
                          {% endif %}
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ sitting['time'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ case['caseNumber'] }}</td>
                            {% if case['caseSequenceIndicator'] | length %}
                              <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ case['caseName'] }} [{{ case['caseSequenceIndicator'] }}]</td>
                            {% else %}
                              <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ case['caseName'] }}</td>
                            {% endif %}
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ case['caseType'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ hearing['hearingType'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ sitting['caseHearingChannel'] }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ duration }} </td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ hearing['applicant'] | replace("LEGALADVISOR", legalAdvisor) }}</td>
                            <td class="govuk-table__cell no-wrap {{ noBorder }}">{{ hearing['respondent'] | replace("LEGALADVISOR", legalAdvisor) }}</td>
                          </tr>
                          {% set hearingCount = hearingCount + 1 %}
                        {% endfor %}
                      {% endfor %}
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
    </div>
  {% endfor %}
  <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance }}</p>
  {{ super() }}
</div>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
