{% extends "template.njk" %}
{% from "./macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack() }}
{% endblock %}
{% block content %}
    {% if displayError %}
        {{ govukErrorSummary({
            titleText: error.title,
            errorList: [
                {
                    text: error.message,
                    href: "#"
                }
            ]
        }) }}
    {% endif %}
    <h1 class="govuk-heading-l">{{ header }}</h1>
    <form enctype="multipart/form-data" method="post" class="govuk-!-width-two-thirds" action="manual-upload-summary">
        {{ govukSummaryList({
            rows: [
                {
                    key: {
                    text: fileKey
                },
                    value: {
                    text: fileUploadData.fileName
                },
                    actions: {
                    items: [
                        {
                            href: "manual-upload",
                            text: actionName,
                            visuallyHiddenText: fileKey
                        }
                    ]
                }
                },
                {
                    key: {
                    text: courtNameKey
                },
                    value: {
                    text: fileUploadData.court.courtName
                },
                    actions: {
                    items: [
                        {
                            href: "manual-upload",
                            text: actionName,
                            visuallyHiddenText: courtNameKey
                        }
                    ]
                }
                },
                {
                    key: {
                    text: listTypeKey
                },
                    value: {
                        text: fileUploadData.listType
                    },
                    actions: {
                    items: [
                        {
                            href: "manual-upload",
                            text: actionName,
                            visuallyHiddenText: listTypeKey
                        }
                    ]
                }
                },
                {
                    key: {
                    text: hearingDatesKey
                },
                    value: {
                    html: "<p class='govuk-body'>" + fileUploadData['content-date-from'] + " to " + fileUploadData['content-date-to'] + "</p>"
                },
                    actions: {
                    items: [
                        {
                            href: "manual-upload",
                            text: actionName,
                            visuallyHiddenText: hearingDatesKey
                        }
                    ]
                }
                },
                {
                    key: {
                    text: availableToKey
                },
                    value: {
                    text: fileUploadData.classification
                },
                    actions: {
                    items: [
                        {
                            href: "manual-upload",
                            text: actionName,
                            visuallyHiddenText: availableToKey
                        }
                    ]
                }
                },
                {
                    key: {
                    text: languageKey
                },
                    value: {
                    text: fileUploadData.language
                },
                    actions: {
                    items: [
                        {
                            href: "manual-upload",
                            text: actionName,
                            visuallyHiddenText: languageKey
                        }
                    ]
                }
                },
                {
                    key: {
                    text: displayFileDatesKey
                },
                    value: {
                    html: "<p class='govuk-body'>" + fileUploadData['display-from'] + " to " + fileUploadData['display-to'] + "</p>"
                },
                    actions: {
                    items: [
                        {
                            href: "manual-upload",
                            text: actionName,
                            visuallyHiddenText: displayFileDatesKey
                        }
                    ]
                }
                }
            ]
        }) }}
        {{ submitButton(confirmButton) }}
    </form>

{% endblock %}
{% block bodyEnd %}
    {{ super() }}
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>
{% endblock %}
