{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "template.njk" %}
{% block pageTitle %}
    {{ "Hearings List" | safe }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: text,
    href: '#',
    attributes: {
      onClick: "history.back();event.preventDefault();"
    }
  }) }}
{% endblock %}

{% block content %}
  <h2 class="govuk-heading-l govuk-!-margin-bottom-8">{{courtName}} hearing list</h2>
  {%- set hearing = [] %}
  {% for item in hearings %}
    {% set _ = hearing.push([
      {
        text: item.courtNumber
      },
      {
        text: item.caseName
      },
      {
        text: item.caseNumber
      },
      {
        text: item.judge
      },
      {
        text: item.date,
        classes: "centre-align-text"
      },
      {
        text: item.platform,
        classes: "right-align-text"
      }
    ]) %}
  {% endfor %}

  {{ govukTable({
    caption: "List for " + date,
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      {
        text: "Court Number"
      },
      {
        text: "Case name"
      },
      {
        text: "Case number"
      },
      {
        text: "Judges"
      },
      {
        text: "Time",
        classes: "centre-align-text"
      },
      {
        text: "Hearing platform",
        classes: "right-align-text"
      }
    ],
    rows: hearing
  }) }}
  <hr class="govuk-section-break--visible govuk-!-margin-top-9"></hr>
  <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Related Content</h4>
  <a href="/search-option" class="govuk-link govuk-!-font-weight-bold">Find a court or tribunal list</a>

{% endblock %}

