{% extends "template.njk" %}
{% block pageTitle %}
    {{ "Start Page" | safe }}
{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Publication and information service</h1>
    <p class="govuk-body">Find information on hearings in courts and tribunals in England and Wales, <br>and some
        non-devolved tribunals in Scotland.</p>
    <p class="govuk-body">Use this service to find a court or tribunal list:</p>
    <p class="govuk-body">The publication and information provides two main functions.</p>
    <p class="govuk-body">Find and view:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>court or tribunal hearing list</li>
        <li>live hearing updates - Crown Court only</li>
    </ul>

    <br/>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
        text: "Start now",
        isStartButton: true,
        href: 'view-option'
    }) }}

    <div class="govuk-inset-text">
        This service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>
    </div>

    <p class="govuk-body">You cannot use this service if you live in Northern Ireland. Contact the <br>
        <a class="govuk-link" href="#">Northern Ireland Courts and Tribunals</a> for help.</p>
    <p class="govuk-body">This service is limited in Scotland to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>immigration appeals</li>
        <li>benefit appeals</li>
        <li>employment claims appeals</li>
    </ul>
    <p class="govuk-body">Contact the <a class="govuk-link" href="#">Scottish Courts and Tribunals</a> for other
        services.</p>

{% endblock %}
