{% extends "template.njk" %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">{{ header }}</h1>
    <p class="govuk-body">{{ p1 }}</p>
    <p class="govuk-body">{{ p2 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for bullet in bullets1 %}
        <li>{{ bullet }}</li>
      {% endfor %}
    </ul>
    <br/>
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
        text: startButton ,
        isStartButton: true,
        href: 'view-option'
    }) }}

    <div class="govuk-inset-text">
        {{ p3 }}<a class="govuk-link" href="#">{{ language }}</a>
    </div>

    <p class="govuk-body">{{ p4 }}<br>
        <a class="govuk-link" href="#">{{ a1 }}</a>{{ p5 }}</p>
    <p class="govuk-body">{{ p6 }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for bullet in bullets2 %}
        <li>{{ bullet }}</li>
      {% endfor %}
    </ul>
    <p class="govuk-body">{{ p7 }}<a class="govuk-link" href="#">Scottish Courts and Tribunals</a>{{ p8 }}</p>

{% endblock %}
