{% extends "template.njk" %}
{% block pageTitle %}
    {{ "Hearings List" | safe }}
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
<h2 class="govuk-heading-l govuk-!-margin-bottom-8">Aylesbury Crown Court hearing list</h2>
{% from "govuk/components/table/macro.njk" import govukTable %}
  {{ govukTable({
    caption: "List for June 9 2021",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: [
      {
        text: "Court Number"
      },
      {
        text: "Case name"
      },
      {
        text: "Case number"
      },
      {
        text: "Judges"
      },
      {
        text: "Time",
        classes: "centre-align-text"
      },
      {
        text: "Hearing platform",
        classes: "right-align-text"
      }
    ],
    rows: [
      [
        {
          text: "1"
        },
        {
          text: "Macey vs Hibbert"
        },
        {
          text: "11223"
        },
        {
          text: "Justice John Smith"
        },
        {
          text: "2pm",
          classes: "centre-align-text"
        },
        {
          text: "VHS",
          classes: "right-align-text"
        }
      ],
      [
        {
          text: "2"
        },
        {
          text: "Macey vs Hibbert"
        },
        {
          text: "11223"
        },
        {
          text: "Justice John Smith"
        },
        {
          text: "2pm",
          classes: "centre-align-text"
        },
        {
          text: "CVP",
          classes: "right-align-text"
        }
      ],
      [
        {
          text: "3"
        },
        {
          text: "Macey vs Hibbert"
        },
        {
          text: "11223"
        },
        {
          text: "Justice John Smith"
        },
        {
          text: "2pm",
          classes: "centre-align-text"
        },
        {
          text: "Teams",
          classes: "right-align-text"
        }
      ],
      [
        {
          text: "4"
        },
        {
          text: "Macey vs Hibbert"
        },
        {
          text: "11223"
        },
        {
          text: "Justice John Smith"
        },
        {
          text: "2pm",
          classes: "centre-align-text"
        },
        {
          text: "Telephone",
          classes: "right-align-text"
        }
      ],
      [
        {
          text: "5"
        },
        {
          text: "Macey vs Hibbert"
        },
        {
          text: "11223"
        },
        {
          text: "Justice John Smith"
        },
        {
          text: "2pm",
          classes: "centre-align-text"
        },
        {
          text: "BT MeetMe",
          classes: "right-align-text"
        }
      ],
      [
        {
          text: "6"
        },
        {
          text: "Macey vs Hibbert"
        },
        {
          text: "11223"
        },
        {
          text: "Justice John Smith"
        },
        {
          text: "2pm",
          classes: "centre-align-text"
        },
        {
          text: "Skype for Business",
          classes: "right-align-text"
        }
      ]
    ]
  }) }}
  <hr class="line-bottom govuk-!-margin-top-9"></hr>
  <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Related Content</h4>
  <a href="/search-option" class="govuk-link govuk-!-font-weight-bold">Find a court or tribunal list</a>

{% endblock %}

