{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack %}

{% extends "template.njk" %}
{% block pageTitle %}
    {{ locationName + " Live Cases Updates" | safe }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack(text = backButton) }}
{% endblock %}

{% block content %}
  <div class="parent-box">
    <h2 class="govuk-heading-l">{{ heading }}</h2>
    <h3 class="govuk-heading-m">{{ locationName }}</h3>
    <p class=" govuk-body-lead">{{ updateDate }}</p>
    <p class=" govuk-body-lead">{{ lastUpdatedText }}{{ updateTime }}</p>
    <p class="govuk-body">{{ StatusHearingText }}</p>
    {% set cases = [] %}
    {% set locationId = locationId %}
    {% for item in liveCases %}
        {% if item.event.eventStatus %}
            {% set status = item.event.eventStatus +
                ' - <br /><a class="govuk-link" id="status-' + loop.index + '"href="case-event-glossary?locationId=' + locationId +
                '#' +
                item.event.eventId +
                '">' +
                item.event.eventName +
                '</a> - '
                + item.event.eventTime
            %}
        {% else %}
            {% set status = emptyText  %}
        {% endif %}
        {% set _ = cases.push([
            {
                text: item.courtRoom
            },
            {
                text: item.caseNumber
            },
            {
                text: item.caseName
            },
            {
                html: status
            }
        ]) %}
    {% endfor %}
    {{ govukTable({
        firstCellIsHeader: false,
        classes: 'govuk-!-margin-bottom-9',
        head: [
            {
                text: tableHeader1,
                classes: 'table-column-court-number'
            },
            {
                text: tableHeader2,
                classes: 'govuk-!-width-one-quarter table-header-bottom-align'
            },
            {
                text: tableHeader3,
                classes: 'govuk-!-width-one-quarter table-header-bottom-align'
            },
            {
                text: tableHeader4,
                classes: 'table-header-bottom-align'
            }
        ],
        rows: cases
    }) }}
  {{ super() }}
  </div>
    <hr class="govuk-header__container--full-width"/>
    <a href="/live-case-alphabet-search" class="govuk-link govuk-!-font-weight-bold">{{ a1 }}</a>
    <script>
      const timer = {{ refreshTimer }}
      setTimeout(function () {
        location.reload();
      }, timer);
    </script>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock %}
