{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack, backToTopButton %}

{% extends "template.njk" %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
    <div id="grid-row" class="govuk-grid-row">
        <div class="parent-box govuk-!-display-inline-block">
            <h2 id='page-heading' class="govuk-heading-l">{{ heading }}</h2>
            <p class="govuk-body">{{ p1 }}</p>
            <div class="govuk-!-margin-bottom-8">
                <div class="govuk-grid-row">
                {% for key, value in courtList %}
                    {% if key == 'N' %}
                        </div>
                        <div class="govuk-grid-row">
                    {% endif %}
                    {% if value| length == 0 %}
                        <div class="govuk-grid-column two-rows-alphabet govuk-!-font-size-19">
                            <a id='{{ key }}-selector' class="govuk-link govuk-link--no-underline">{{ key }}</a>
                        </div>
                    {% else %}
                        <div class="govuk-grid-column two-rows-alphabet govuk-!-font-size-19">
                            <a id='{{ key }}-selector' href='#{{ key }}' class="govuk-link govuk-link--no-visited-state">{{ key }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" colspan="2">{{ tableHeader }}</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% set first = '' %}
                {% for key, value in courtList %}
                    {% if value | length > 0 %}
                        {% for courtName, courtDetails in value %}
                            <tr  class="govuk-table__row">
                                {% if first != key %}
                                    {% set first = key %}
                                        <th scope="row" class="govuk-table__header">
                                            <div id="{{ key }}" class="govuk-!-font-size-27">{{key}}</div>
                                        </th>
                                    {% else %}
                                        <th scope="row" class="govuk-table__header">
                                        </th>
                                {% endif %}
                                <td class="govuk-table__cell"><a href="/live-case-status?locationId={{ courtDetails.id }}" class="govuk-link">{{ courtName }}</a></td>
                            </tr>
                        {% endfor %}
                        {% set first = '' %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
          {{ super() }}
        </div>
    </div>

{% endblock %}
{% block bodyEnd %}
    {{ super() }}
{% endblock %}
