{% from "govuk/components/table/macro.njk" import govukTable as 'govukTable' %}
{% from "./macros/common-components.njk" import goBack, searchInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "list-template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <div class="parent-box">
    <h2 id='page-heading' class="govuk-heading-l">
      {{ headerPart1 }} {{ courtName }}
      {% if bill %}
        <br />/{{ headerPart2 }} {{ courtName }}
      {% endif %}
    </h2>
    <p class="govuk-body govuk-!-font-weight-bold">{{ listDate }} {{ contentDate }}</p>
    <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>
    <p class="govuk-body">{{ draft }} {{ versionText }} {{ version }}</p><br/>
    <p class="govuk-body">
      {% for line in listData['venue']['venueAddress']['line'] %}
        {{ line }}<br />
      {% endfor %}
      {% if listData['venue']['venueAddress']['town'] | length %}
        {{ listData['venue']['venueAddress']['town'] }}<br />
      {% endif %}
      {% if listData['venue']['venueAddress']['county'] | length %}
        {{ listData['venue']['venueAddress']['county'] }}<br />
      {% endif %}
      {{ listData['venue']['venueAddress']['postCode'] }}
    </p>
    <div class="govuk-grid restriction-list-section govuk-!-margin-bottom-5">
      <div class="govuk-body">
        <h3>{{ restrictionInformationHeading }}</h3>
        <p class="govuk-body">{{ restrictionInformationP1 }}</p>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon align-warning-icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            {{ restrictionInformationBoldText }}
          </strong>
        </div>
        <p class="govuk-body">{{ restrictionInformationP2 }}</p>
        <p class="govuk-body">{{ restrictionInformationP3 }}</p>
        <p class="govuk-body">{{ restrictionInformationP4 }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ restrictionBulletPoint1 }}</li>
          <li>{{ restrictionBulletPoint2 }}</li>
        </ul>
        <p class="govuk-body">{{ restrictionInformationP5 }} <a href="#" class="govuk-link">{{ restrictionLink }}</a> </p>
      </div>
      {% if bill %}
        <div class="govuk-body">
          <h3>{{ restrictionInformationHeadingBill }}</h3>
          <p class="govuk-body">{{ restrictionInformationP1Bill }}</p>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon align-warning-icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              {{ restrictionInformationBoldTextBill }}
            </strong>
          </div>
          <p class="govuk-body">{{ restrictionInformationP2Bill }}</p>
          <p class="govuk-body">{{ restrictionInformationP3Bill }}</p>
          <p class="govuk-body">{{ restrictionInformationP4Bill }}</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>{{ restrictionBulletPoint1Bill }}</li>
            <li>{{ restrictionBulletPoint2Bill }}</li>
          </ul>
          <p class="govuk-body">{{ restrictionInformationP5Bill }} <a href="#" class="govuk-link">{{ restrictionLinkBill }}</a> </p>
        </div>
      {% endif %}
    </div>
  </div>
  {{ searchInput(text = searchCases) }}
  <div class="search-area">
    {% for courtList in listData['courtLists'] %}
      {% set courtHouse = courtList['courtHouse'] %}
      {% set sessionCount = 0 %}
      {% for courtRoom in courtHouse['courtRoom'] %}
        {% for session in courtRoom['session'] %}
          {% set sessionCount = sessionCount + 1 %}
          <div class="site-header" tabindex="0" aria-label="Court Details">
            {% if session['formattedJudiciaries'] | length %}
              <h1 class="govuk-heading-l site-address" tabindex="0">{{ courtRoom['courtRoomName'] }}: {{ session['formattedJudiciaries'] }}</h1>
            {% else %}
              <h1 class="govuk-heading-l site-address" tabindex="0">{{ courtRoom['courtRoomName'] }}</h1>
            {% endif %}
          </div>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          {% for defendants in session['defendants'] %}
            {% set defendantHeading = defendants['defendantHeading'] %}
              <div class="govuk-accordion__section govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ sessionCount }}">
                      {% if defendant['gender'] | length %}
                        {{ defendantNameHeading }} {{ defendantHeading }} ({{ defendant['gender'] }}) {{ defendant['inCustody'] }}
                      {% else %}
                        {{ defendantNameHeading }} {{ defendantHeading }}
                      {% endif %}
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-{{ sessionCount }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ sessionCount }}">
                {% set defendantCount = 1 %}
                {% for defendant in defendants['defendantInfo'] %}
                  <div class="parent-box overflow-table">
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-two-thirds no_padding">
                        {% if defendant['formattedDuration'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ defendantCount }}. {{ sittingAt }} {{ defendant['time'] }}
                              {{ sittingFor }} {{ defendant['formattedDuration'] | appendCaseSequenceIndicator(defendant['caseSequenceIndicator']) }}</span></p> <br />
                        {% endif %}
                        {% if defendant['defendantDateOfBirth'] | length %}
                        <p class="govuk-body"><span class="linked-cases-heading">{{ dobAndAge }}</span> {{ defendant['defendantDateOfBirth'] }}
                      {% elseif defendant['age'] > 0 %}
                        <p class="govuk-body"><span class="linked-cases-heading">{{ dobAndAge }}</span>
                          {% endif %}
                          {% if defendant['age'] > 0 %}
                          {{ age }} {{ defendant['age'] }}</p>
                        {% endif %}
                        {% if defendant['defendantAddress'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ defendantAddress }}</span>{{ defendant['defendantAddress'] }}</p>
                        {% endif %}
                        {% if defendant['prosecutionAuthorityCode'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ prosecutingAuthority }}</span>{{ defendant['prosecutionAuthorityCode'] }}</p>
                        {% endif %}
                        {% if defendant['hearingNumber'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ hearingNumber }}</span>{{ defendant['hearingNumber'] }}</p>
                        {% endif %}
                        {% if defendant['caseHearingChannel'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ attendanceMethod }}</span>{{ defendant['caseHearingChannel'] }}</p>
                        {% endif %}
                      </div>
                      <div class="govuk-grid-column-one-third">
                        {% if defendant['caseNumber'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ caseReference }}</span>{{ defendant['caseNumber'] }}</p>
                        {% endif %}
                        <p class="govuk-body"><span class="linked-cases-heading">{{ asn }}</span>Need to confirm</p>
                        {% if defendant['hearingType'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ hearingType }}</span>{{ defendant['hearingType'] }}</p>
                        {% endif %}
                        {% if defendant['panel'] | length %}
                          <p class="govuk-body"><span class="linked-cases-heading">{{ panel }}</span>{{ defendant['panel'] }}</p>
                        {% endif %}
                      </div>
                    </div>
                    {% for offence in defendant['allOffences'] %}
                      <div class="moj-timeline__description">
                        <details class="govuk-details" data-module="govuk-details">
                          {% if offence['offenceTitle'] | length %}
                            <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">{{ offence['offenceTitle'] }}</span>
                            </summary>
                          {% endif %}
                          <div class="govuk-details__text">
                            <table class="govuk-table">
                              <tbody class="govuk-table__body">
                              {% if offence['plea'] | length %}
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ plea }}</span></td>
                                  <td class="govuk-table__cell no-border-bottom">{{ offence['plea'] }}</td>
                                </tr>
                              {% endif %}
                              {% if dateOfPlea | length %}
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ dateOfPlea }}</span></td>
                                  <td class="govuk-table__cell no-border-bottom">{{ offence['dateOfPlea'] }}</td>
                                </tr>
                              {% endif %}
                              {% if offence['formattedConvictionDate'] | length %}
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ convictedOn }}</span></td>
                                  <td class="govuk-table__cell no-border-bottom">{{ offence['formattedConvictionDate'] }}</td>
                                </tr>
                              {% endif %}
                              {% if offence['formattedAdjournedDate'] | length %}
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell no-border-bottom"><span class="linked-cases-heading">{{ adjournedFrom }}</span></td>
                                  <td class="govuk-table__cell no-border-bottom">{{ offence['formattedAdjournedDate'] }} - {{ adjournedText }}</td>
                                </tr>
                              {% endif %}
                              </tbody>
                            </table>
                            <p class="govuk-body">{{ offence['offenceWording'] }}</p>
                          </div>
                        </details>
                      </div>
                    {% endfor %}
                  </div>
                  {% set defendantCount = defendantCount + 1 %}
                {% endfor %}
                </div>
              </div>
          {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
    <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance | maskLegacyDataSource }}</p>
    {{ super() }}
  </div>
{% endblock %}
