{% from "./macros/common-components.njk" import goBack, successPanel %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
  {{ successPanel(header, subHeader) }}
  <p class="govuk-body">{{ p1 }}<a href="/manage-third-party-users">{{ linkText }}</a></p>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
