{% extends "template.njk" %}
{% from "./macros/common-components.njk" import goBack %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
<div class="parent-box">
    <h1 class="govuk-heading-l">Manage Users</h1>
  {{ govukInsetText({
    text: "Use this page to view, update and delete user accounts"
  }) }}

  {% set  mediaUserTable %}
    <h2 class="govuk-heading-l">Media Users</h2>
    {{ govukTable({
      head: mediaHeaders,
      rows: mediaData
    }) }}
  {% endset -%}

  {% set  thirdPartyUserTable %}
    <h2 class="govuk-heading-l">Third Party Users</h2>
    {{ govukTable({
      head: thirdPartyHeaders,
      rows: thirdPartyData
    }) }}
  {% endset -%}


  {% set  adminTable %}
    <h2 class="govuk-heading-l">Admins</h2>
    {{ govukTable({
      head: adminHeaders,
      rows: adminData
    }) }}
  {% endset -%}

  {% set  superAdminTable %}
    <h2 class="govuk-heading-l">Super Admins</h2>
    {{ govukTable({
      head: adminHeaders,
      rows: superAdminData
    }) }}
  {% endset -%}

  {% set  systemAdminTable %}
    <h2 class="govuk-heading-l">System Admins</h2>
    {{ govukTable({
      head: adminHeaders,
      rows: systemAdminData
    }) }}
  {% endset -%}


  {# Tab display for each user role #}
  {{ govukTabs({
    items: [
      {
        label: "Media Users",
        id: "media-users",
        panel: {
        html: mediaUserTable
        }
      },
      {
        label: "Third Party Users",
        id: "third-party-users",
        panel: {
        html: thirdPartyUserTable
        }
      },
      {
        label: "Admins",
        id: "admins",
        panel: {
        html: adminTable
        }
      },
      {
        label: "Super Admins",
        id: "super-admins",
        panel: {
        html: superAdminTable
        }
      },
      {
        label: "System Admins",
        id: "system-admins",
        panel: {
        html: systemAdminTable
        }
      }
    ]
  }) }}
</div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
{% endblock %}
