{% from "macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "template.njk" %}
{% block pageTitle %}
 Media Account Rejection
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {% if displayAzureError %}
    {{ govukErrorSummary({
      titleText: error.title,
      errorList: [
        {
          text: error.azureMessage,
          href: "#"
        }
      ]
    }) }}
  {% elseif displayRadioError %}
    {{ govukErrorSummary({
      titleText: error.title,
      errorList: [
        {
          text: error.radioMessage,
          href: "#"
        }
      ]
    }) }}
  {% endif %}
  {{ govukTable({
    caption: tableCaption,
    captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: name,
            classes: 'govuk-!-width-one-third'
          },
          {
            text: applicantData.fullName
          },
          {
            attributes: {
          'aria-hidden': 'true'
          }
          }
        ],
        [
          {
            text: email,
            classes: 'govuk-!-width-one-third'
          },
          {
            text: applicantData.email
          },
          {
            attributes: {
          'aria-hidden': 'true'
          }
          }
        ],
        [
          {
            text: employer,
            classes: 'govuk-!-width-one-third'
          },
          {
            text: applicantData.employer
          },
          {
            attributes: {
          'aria-hidden': 'true'
          }
          }
        ],
        [
          {
            text: dateApplied,
            classes: 'govuk-!-width-one-third'
          },
          {
            text: applicantData.requestDate
          },
          {
            attributes: {
          'aria-hidden': 'true'
          }
          }
        ],
        [
          {
            text: proofOfId,
            classes: 'govuk-!-width-one-third'
          },
          {
            text: applicantData.imageName + " (" + opensInWindowText + ")"
          },
          {
            html: "<a href=\"/media-account-review/image?imageId=" +  applicantData.image + "&applicantId=" + applicantData.id + "\" target=\"_blank\">" + viewText + "</a>",
            classes: "right-align-text"
          }
        ]
      ]
    }) }}

<form method="post">
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "reject-confirmation",
    name: "reject-confirmation",
    fieldset: {
    },
    items: [
      {
        value: radioAnswers[0],
        text: radioAnswers[0],
        checked: choice === "Yes"
      },
      {
        value: radioAnswers[1],
        text: radioAnswers[1],
        checked: choice === "No"
      }
    ]
  }) }}
  {{ submitButton() }}
</form>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
