{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./macros/common-components.njk" import goBack %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
<div>
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ name }}
      </dt>
      <dd class="govuk-summary-list__value">
        {{ applicantData.fullName }}
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ email }}
      </dt>
      <dd class="govuk-summary-list__value">
        {{ applicantData.email }}
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ employer }}
      </dt>
      <dd class="govuk-summary-list__value">
        {{ applicantData.employer }}
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ dateApplied }}
      </dt>
      <dd class="govuk-summary-list__value">
        {{ applicantData.requestDate }}
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ proofOfId }}
      </dt>
      <dd class="govuk-summary-list__value">
        {{ applicantData.imageName }} ({{opensInWindowText}})
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/media-account-review/image?imageId={{ applicantData.image }}&applicantId={{ applicantData.id }}" target="_blank">
          {{ viewText }}
        </a>
      </dd>
    </div>
  </dl>
  <form method="post">
    <input type="hidden" id="applicantId" name="applicantId" value="{{ applicantData.id }}" }}>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
          <button id ="approve" class="govuk-button" data-module="govuk-button" formaction="media-account-review/approve">
              {{ approveApplication }}
          </button>
        </div>
        <div class="govuk-grid-column-three-quarters govuk-!-padding-right-0">
          <button id="reject" class="govuk-button govuk-button--warning float-right" data-module="govuk-button" formaction="media-account-review/reject">
            {{ rejectApplication }}
          </button>
        </div>
    </div>
  </form>
</div>
{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
