{% from "macros/common-components.njk" import goBack %}
{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">{{ header }}</h1>
  <p class="govuk-body">{{ bodyText1 }}</p>
  <p class="govuk-body">{{ bodyText2 }}</p>
  <a href="{{ link }}" class="govuk-link govuk-body">{{ frontendUrl }}{{ link }}</a>
{% endblock %}
