{% from "./macros/common-components.njk" import goBack %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ "OTP Login" | safe }}
{% endblock %}
{% block content %}
  <link href="https://pip-frontend.staging.platform.hmcts.net/main-dev.css" rel="stylesheet">
  <h1 class="govuk-heading-l govuk-!-margin-top-5">Enter your email address</h1>
  <div class="govuk-body">Your email address will be used for security reasons. When you click continue, we will send you an email with a one-time password (OTP) code.</div>
  <div id="api"></div>
{% endblock %}
