{% from "./macros/common-components.njk" import goBack %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ "OTP Login" | safe }}
{% endblock %}
{% block content %}
  <form method="post" novalidate>
    <h1 class="govuk-heading-l govuk-!-margin-top-5">Verify your email address</h1>
    <div class="govuk-body">Your OTP code will shortly be in your inbox and will have been sent from
      <span class="govuk-!-font-weight-bold">xxxxx@xxxxx.xxx</span>. Please
    do not open or use any codes sent from similar addresses.</div>
    <h3 class="govuk-heading-s" id="input-label">Enter your 6-digit passcode</h3>
    <input class="govuk-input
    govuk-input--width-10
    govuk-!-margin-right-2" id="otp-code" name="otp-code"
           inputmode="numeric"
           pattern='[0-9]*'
           aria-labelledby="input-label"
           autocomplete="off">

    <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">You have 3 attempts</p>

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-5 govuk-!-margin-bottom-8"

    }) }}

  </form>
  <div class="govuk-body">If you have entered an incorrect passcode,
    request to have a new passcode sent to your email address</div>

  {{ govukButton({
    text: "Resend passcode",
    classes: "govuk-button--secondary govuk-!-margin-bottom-9"
  }) }}

{% endblock %}
