{% extends "template.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "./macros/common-components.njk" import submitButton, goBack %}

{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}

{% block content %}
  <div class="parent-box">
  {% if pendingSubscriptions.cases | length == 0 and pendingSubscriptions.courts | length == 0 %}
    {% set displayError = true %}
  {% else %}
    {% set displayError = false %}
  {% endif %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {% if displayError %}
    <div class="govuk-grid-row">
      <div class="no_padding govuk-grid-column-two-thirds">
        {{ govukErrorSummary({
          titleText: error.title,
          errorList: [
            {
              text: error.message,
              href: "#"
            }
          ]
        }) }}
      </div>
    </div>
    <form action="subscription-add"  method="get">
      <div class="govuk-!-text-align-left">
        {{ submitButton(label=buttonAddText) }}
      </div>
    </form>
  {% else %}
    <form action="subscription-confirmed"  method="post">
      {% if pendingSubscriptions.cases | length != 0 %}
        <table class="govuk-table govuk-!-width-one">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">{{ table.header1 }}</th>
            <th scope="col" class="govuk-table__header">{{ table.header2 }}</th>
            <th scope="col" class="govuk-table__header">{{ table.header3 }}</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">{{ table.header4 }}</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for case in pendingSubscriptions.cases %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ case.caseName }}</td>
              <td class="govuk-table__cell">{{ case.partyNames | striptags(true) | escape | nl2br }}</td>
              <td class="govuk-table__cell">{{ case.caseUrn if case.urnSearch else case.caseNumber }}</td>
              <td class="govuk-table__cell govuk-!-text-align-right"><a href="/remove-subscription?case-{{ 'urn=' + case.caseUrn if case.urnSearch else 'number=' + case.caseNumber }}">{{ removeText }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% if pendingSubscriptions.courts | length != 0 %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">{{ courtTribunalName }}</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-right">{{ table.header4 }}</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for court in pendingSubscriptions.courts %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ court.name }}</td>
              <td class="govuk-table__cell govuk-!-text-align-right">
                <a href="/remove-subscription?court={{ court.locationId }}">{{ removeText }}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}

      <p class="govuk-body"><a class="govuk-link" href="{{ addOther_link }}">{{ addOther_text }}</a></p>
      {{ submitButton(label=buttonText) }}
    </form>
  {% endif %}
  {{ super() }}
  </div>

{% endblock %}
{% block bodyEnd %}
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState(null, null, window.location.href );
    }
  </script>
  {{ super() }}
{% endblock %}
