{% from "./macros/common-components.njk" import goBack, searchInput %}

{% extends "list-template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <div class="parent-box">
    <h2 id="page-heading" class="govuk-heading-l">
      {{ heading }}
    </h2>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ listDate }} {{ contentDate }}</p>
    <p class="govuk-body">{{ listUpdated | replace("DATE", publishedDate) }} {{ publishedTime }}</p>

    <details class="govuk-details" data-module="govuk-details" open>
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ importantInformationHeading }}</span>
      </summary>
      <div class="govuk-details__text">
        <p>{{ importantInformationP1 }}</p>
        <p>{{ importantInformationP2 | replace("EMAIL", venueEmail) }}</p>
        <p>{{ importantInformationP3 }}</p>
        {% if bill %}
          <P>{{ importantInformationP4 }}</P>
          <P>{{ importantInformationP5 | replace("EMAIL", venueEmail) }}</P>
          <P>{{ importantInformationP6 }}</P>
        {% endif %}
      </div>
    </details>

    {{ searchInput(text = searchCases) }}
    <div class="parent-box overflow-table govuk-!-margin-top-5 search-area">
      <table class="govuk-table" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">{{ hearingDate }}</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">{{ caseName }}</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">{{ duration }} </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">{{ hearingType }}</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">{{ venue }}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for courtCase in listData %}
          <tr class="govuk-table__row">
            {% set sortValue = '0' %}
            {% if courtCase['hearingDate'] | length %}
              {% set components = courtCase['hearingDate'].split(' ') %}
            {% endif %}
            <td class="govuk-table__cell" data-sort-value="{{ courtCase['hearingDate'] | dayMonthNameToSortValue }}">{{ courtCase['hearingDate'] }}</td>
            <td class="govuk-table__cell">{{ courtCase['caseName'] }}</td>
            <td class="govuk-table__cell" data-sort-value="{{ courtCase.durationSortValue }}">{{ courtCase.formattedDuration | appendCaseSequenceIndicator(courtCase['caseSequenceIndicator']) }}</td>
            <td class="govuk-table__cell">{{ courtCase['hearingType'] }}</td>
            <td class="govuk-table__cell">{{ courtCase['venue'] | striptags(true) | escape | nl2br }} </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <p class="govuk-body govuk-!-font-size-14">{{ dataSource }}: {{ provenance | maskLegacyDataSource }}</p>
    {{ super() }}
  </div>
{% endblock %}
