{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
    {{ "Search Option" | safe }}
{% endblock %}

{% block beforeContent %}
    {{ goBack('/view-option') }}
{% endblock %}

{% block content %}
    <form method="post">
        {{ govukRadios({
            idPrefix: "find-choice",
            name: "find-choice",
            fieldset: {
                legend: {
                    text: 'Find a court or tribunal list',
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "Do you know the name of the court or tribunal?"
            },
            items: [
                {
                    value: "search",
                    text: "I have the name"
                },
                {
                    value: "find",
                    text: "I don't have the name"
                }
            ]
        }) }}
        {{ submitButton() }}
    </form>
    <script>
        const button = document.getElementsByClassName('govuk-button')[0];
        button.addEventListener('click', (e) => {
          const checkedRadios = document.querySelectorAll('input[type="radio"]:checked');
          if (!checkedRadios.length) {
            e.preventDefault();
          }
        })
    </script>
{% endblock %}
