{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ goBack() }}
{% endblock %}

{% block content %}
    <form method="post">
        {{ govukRadios({
            idPrefix: "find-choice",
            name: "find-choice",
            fieldset: {
                legend: {
                    text: radioLegend,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "The name of the court or tribunal can be found on a letter, email or text from us"
            },
            items: [
                {
                    value: "search",
                    text: radio1
                },
                {
                    value: "find",
                    text: radio2

                }
            ]
        }) }}
        {{ submitButton() }}
    </form>
    <script>
        const button = document.getElementsByClassName('govuk-button')[0];
        button.addEventListener('click', (e) => {
          const checkedRadios = document.querySelectorAll('input[type="radio"]:checked');
          if (!checkedRadios.length) {
            e.preventDefault();
          }
        })
    </script>
{% endblock %}
