{% extends "template.njk" %}
{% from "macros/form.njk" import submitButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block pageTitle %}
    {{ "Search Option" | safe }}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/"
    }) }}
{% endblock %}

{% block content %}
    <form action="/search-option" method="post">
        {{ govukRadios({
            idPrefix: "find-choice",
            name: "find-choice",
            fieldset: {
                legend: {
                    text: 'Find a court or tribunal list',
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "search",
                    text: "Search for a court or tribunal"
                },
                {
                    value: "find",
                    text: "Find a court or tribunal alphabetically"
                }
            ]
        }) }}
        {{ submitButton() }}
    </form>
{% endblock %}
