{% extends "template.njk" %}
{% from "macros/form.njk" import submitButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% block pageTitle %}
    {{ "Search" | safe }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/search-option"
  }) }}
{% endblock %}

{% block content %}
  <form action="/url/of/next/page" method="post">
    {{ govukInput({
      label: {
        text: "What court or tribunal are you interested in?",
        classes: "govuk-label--l govuk-!-width-one-half",
        isPageHeading: true
      },
      hint: {
        text: "For example Blackburn Family Court or Chester"
      },
      classes: "govuk-!-width-one-third",
      id: "search-input",
      name: "search-input"
    }) }}

    {{ submitButton() }}
  </form>
{% endblock %}
