{% from "./macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ goBack() }}
{% endblock %}
{% block content %}
    <h1 class="govuk-heading-l">{{ header }}</h1>
    {% if haveUser %}
        <p class="govuk-body">{{ haveUserMessage }}</p>
        {{govukTag({
            text: labelSet,
            classes: "govuk-tag--green govuk-!-margin-bottom-6"
        })}}
        {{ govukSummaryList({
            classes: 'govuk-!-width-one-half',
            rows: [
                {
                    key: {
                        text: keyUsername
                    },
                    value: {
                        text: userDetails['username']
                    }
                },
                {
                    key: {
                        text: keyUserId
                    },
                    value: {
                        text: userDetails['id']
                    }
                },
                {
                    key: {
                        text: keyUserType
                    },
                    value: {
                        text: userDetails['userType']
                    }
                }
            ]
        }) }}
        {{ govukButton({
            text: startButton,
            href: '/subscription-management'
        }) }}
    {% else %}
        <p class="govuk-body">{{ noUser }}</p>
        {{govukTag({
            text: labelNotSet,
            classes: "govuk-tag--red govuk-!-margin-bottom-6"
        })}}
        <form action="mock-login" method="post" class="govuk-!-width-one-half">
            {{ govukInput({
                label: {
                    text: usernameLabel
                },
                id: "username",
                name: "username"
            }) }}
            {{ govukInput({
                label: {
                    text: userIdLabel
                },
                id: "id",
                name: "id",
                spellcheck: false
            }) }}
            {{ govukRadios({
                idPrefix: "userType",
                name: "userType",
                fieldset: {
                    legend: {
                        text: userTypeLabel
                    }
                },
                items: [
                    {
                        value: "Verified Signed-in user",
                        text: item1
                    }
                ]
            }) }}
            {{ submitButton(label = startButton) }}
        </form>
    {% endif %}

    <script>
      const button = document.getElementsByClassName('govuk-button')[0];
      button.addEventListener('click', (e) => {
        const checkedRadios = document.querySelectorAll('input[type="radio"]:checked');
        const userSet = {{ haveUser | dump |safe }};
        if (!userSet && !checkedRadios.length) {
          e.preventDefault();
        }
      });
    </script>
{% endblock %}
