{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}

{% block content %}
    {% if displayError %}
        {{ govukErrorSummary({
            titleText: error.title,
            errorList: [
                {
                    text: error.noSelection,
                    href: "#sign-in"
                }
            ]
        }) }}
    {% endif %}
    <form action="sign-in" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        {{ header }}
                    </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="hmcts">
                        <label class="govuk-label govuk-radios__label" for="sign-in">
                            {{ radio1 }}
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="common">
                        <label class="govuk-label govuk-radios__label" for="sign-in-2">
                            <div>{{ radio2 }}</div>
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="pi">
                        <label class="govuk-label govuk-radios__label" for="sign-in-3">
                            {{ radio3 }}
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        {{ submitButton(continueButton) }}
        <div class="govuk-grid-row govuk-!-margin-bottom-2">
          <div class="no_padding govuk-grid-column-full">
            <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">{{ accountInfo }}</p>
            <a class="govuk-link" href="{{ accountInfo_link }}">{{ accountInfo_link_text }}</a>
          </div>
        </div>
    </form>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
{% endblock %}
