{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack() }}
{% endblock %}

{% block content %}
    <form action="sign-in" method="post">
      {{ govukRadios({
        idPrefix: "sign-in",
        name: "sign-in",
        fieldset: {
          legend: {
            text: header,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "hmcts",
            text: radio1
          },
          {
            value: "common",
            text: radio2

          },
          {
            value: "pi",
            text: radio3

          },
          {
            value: "notsure",
            text: radio4

          }
        ]
      }) }}
        {{ submitButton() }}
      <div class="govuk-inset-text">
        {{ accountInfo }} <a class="govuk-link" href="{{ accountInfo_link }}">{{ accountInfo_link_text }}</a>
      </div>
    </form>
{% endblock %}
{% block bodyEnd %}
    <script>
      const button = document.getElementsByClassName('govuk-button')[0];
      button.addEventListener('click', (e) => {
        const checkedRadios = document.querySelectorAll('input[type="radio"]:checked');
        if (!checkedRadios.length) {
          e.preventDefault();
        }
      })
    </script>
  {{ super() }}
{% endblock %}
