{% from "./macros/common-components.njk" import goBack, backToTopButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack() }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">List containing {{ length }} case(s) generated on {{ date }}</p>
  <div class="parent-box overflow-table">
  {% set sjpCase = [] %}
  {% for item in casesList |sort(attribute="Name")%}
  {% for role in item.hearing[0].party %}
  {% if role.partyRole == "ACCUSED" %}
  {% set accused = [role.individualDetails.individualForenames, " ", role.individualDetails.individualSurname] | join %}
  {% set postcode = role.individualDetails.address.postCode %}

 {% elif role.partyRole == "PROSECUTOR" %}
  {% set prosecutor = [role.individualDetails.individualForenames, " ", role.individualDetails.individualSurname] | join %}
  {% endif %}
  {% set offence = item.hearing[0].offence[0].offenceTitle %}
  {% if accused and prosecutor and postcode and offence %}

    {% set _ = sjpCase.push([
      {
        text: accused
      },
      {
        text: postcode
      },
      {
        text: offence
      },
      {
        text: prosecutor
      }
    ]) %}
    {% endif %}
    {% endfor %}
    {% endfor %}

  {{ govukTable({
    firstCellIsHeader: false,
    head: [
      {
        text: column1
      },
      {
        text: column2
      },
      {
        text: column3
      },
      {
        text: column4
      }
    ],
    rows: sjpCase
  }) }}
  {{ backToTopButton() }}

  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script src="alphabetical-dev.js"></script>
{% endblock %}
