{% from "./macros/common-components.njk" import goBack, searchInput %}
{% from "./macros/sjp-common.njk" import downloadButton, filterForm, filterManipulation %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "list-template.njk" %}
{% set url = "sjp-public-list" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ listDetail | replace("CASES_COUNT", length) }} {{ publishedDateTime }} {{ publishedAt }} {{ publishedTime }}</p>

  {% if showDownloadButton %}
    {{ downloadButton(text = downloadButton, artefactId = artefactId) }}
  {% endif %}

  {{ searchInput(text = searchCases) }}

  <button class="govuk-button govuk-button--secondary govuk-!-margin-top-5 hide-show-button" id="show-filters" data-module="govuk-button">
    {% if showFilters %} {{ filter.hide }} {% else %} {{ filter.show }} {% endif %}
  </button>

  <div class="govuk-grid-row">
    {{ filterForm(url = url, filterOptions = filterOptions, showFilters = showFilters, artefactId = artefactId, filter = filter) }}
    <div class="parent-box govuk-!-margin-top-5 search-area">
      <div class="overflow-table">
      {% set sjpCases = [] %}
      {% for sjpCase in sjpData %}
        {% set _ = sjpCases.push([
          {
            text: sjpCase.name
          },
          {
            text: sjpCase.postcode
          },
          {
            text: sjpCase.offence
          },
          {
            text: sjpCase.prosecutorName
          }
        ]) %}
      {% endfor %}

      {{ govukTable({
        firstCellIsHeader: false,
        attributes: {
          "data-module": "moj-sortable-table"
        },
        head: [
          {
            text: column1,
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: column2,
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: column3,
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: column4,
            attributes: {
              "aria-sort": "none"
            }
          }
        ],
        rows: sjpCases
      }) }}
      </div>
      {{ super() }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
    {{ super() }}
    {{ filterManipulation(url = url, artefactId = artefactId, filter = filter) }}
{% endblock %}
