{% from "./macros/common-components.njk" import goBack, backToTopButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "list-template.njk" %}
{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ listDetail | replace("CASES_COUNT", length) }} {{ publishedDateTime }} {{ publishedAt }} {{ publishedTime }}</p>

  {% if user.roles and user.roles in ['VERIFIED'] %}
    {{ govukButton({
      attributes: {
        id: 'download-button'
      },
      text: downloadButton,
      href: 'list-download-disclaimer?artefactId=' + artefactId
    }) }}
  {% endif %}

  <div class="parent-box">
    <div class="overflow-table">
      {% set sjpCase = [] %}
      {% for courtList in sjpData['courtLists'] %}
        {% for courtRoom in courtList['courtHouse']['courtRoom'] %}
          {% for session in courtRoom['session'] %}
            {% for sitting in session['sittings'] %}
              {% for hearing in sitting['hearing'] | sort(attribute="Name") %}
                {% set accused = '' %}
                {% set postcode = '' %}
                {% set prosecutor = '' %}
                {% set offence = '' %}
                {% for party in hearing['party'] %}
                  {% if party.partyRole == "ACCUSED" %}
                    {% set accused = [party.individualDetails.individualForenames, " ", party.individualDetails.individualSurname] | join %}
                    {% set postcode = party.individualDetails.address.postCode %}
                  {% elif party.partyRole == "PROSECUTOR" %}
                    {% set prosecutor = party.organisationDetails.organisationName %}
                  {% endif %}
                {% endfor %}

                {% for item in hearing['offence'] %}
                  {% if offence | length %}
                    {% set offence = [offence, ", ", item.offenceTitle] | join %}
                  {% else %}
                    {% set offence = item.offenceTitle %}
                  {% endif %}
                {% endfor %}

                {% if accused and prosecutor and postcode and offence %}
                  {% set _ = sjpCase.push([
                    {
                      text: accused
                    },
                    {
                      text: postcode
                    },
                    {
                      text: offence
                    },
                    {
                      text: prosecutor
                    }
                  ]) %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% endfor %}

      {{ govukTable({
        firstCellIsHeader: false,
        attributes: {
          "data-module": "moj-sortable-table"
        },
        head: [
          {
            text: column1,
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: column2,
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: column3,
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: column4,
            attributes: {
              "aria-sort": "none"
            }
          }
        ],
        rows: sjpCase
      }) }}
    </div>
    {{ super() }}
  </div>
{% endblock %}
