{% extends "template.njk" %}
{% from "./macros/common-components.njk" import goBack, submitButton %}
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}

{% block pageTitle %}
  {{ title }}
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton) }}
{% endblock %}
{% block content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ descriptionText }}</p>
    <div id="grid-row" class="govuk-grid-row parent-box alphabetical-box">
      <div class="layout-width-two-fifths govuk-!-display-inline-block hide" id="filters">
        {% set checkedFilters = [] %}
        {% set toBeCreated = true %}
        {% set filterOptionsHtml %}
          {% for key, option in filterOptions %}
            {% set checkedFilterItems = [] %}
            {% set items = [] %}
            {% for value, item in option %}
              {% set _ = items.push({
                value: item.value,
                text: item.text,
                checked: item.checked
              }) %}
              {% if item.checked %}
                {% set _ = checkedFilterItems.push({href: '?clear=' + item.value, text: item.text}) %}
              {% endif %}
            {% endfor %}
            {% set filterKey = jurisdiction if key == 'Jurisdiction' else region %}
            {% if checkedFilterItems| length > 0 %}
              {% set _ = checkedFilters.push({heading: {text: filterKey}, items: checkedFilterItems}) %}
            {% endif %}
            {% if toBeCreated %}
              <div class="moj-button-menu filters__innerButton" id="innerButton">
                <div class="moj-button-menu__wrapper">
                  <a href="#" role="button" draggable="false"
                     class="govuk-button moj-button-menu__item govuk-button--secondary" data-module="govuk-button"
                     onclick="toggleFilters()">
                    {{ hide }}
                  </a>
                </div>
              </div>
              {% set toBeCreated = false %}
            {% endif %}
            {{ govukCheckboxes({
              idPrefix: key,
              name: key,
              classes: "govuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: filterKey,
                  classes: 'govuk-fieldset__legend--m'
                }
              },
              items: items
            }) }}
          {% endfor %}
        {% endset %}
        <form method="post" action="location-name-search" class="moj-filter-layout__filter layout-width-four-fifths"
              autocomplete="off">
          {{ mojFilter({
            heading: {
              text: 'Filter'
            },
            selectedFilters: {

              heading: {
                text: 'Selected filters'
              },

              clearLink: {
                text: 'Clear filters'
              },

              categories: [
                {
                  heading: {
                  text: 'Type'
                },
                  items: [{
                  href: '/path/to/remove/this',
                  text: 'Blue'
                }, {
                  href: '/path/to/remove/this',
                  text: 'Yellow'
                }]
                },
                {
                  heading: {
                  text: 'Status'
                },
                  items: [{
                  href: '/path/to/remove/this',
                  text: 'Completed'
                }]
                }
              ]
            },
            optionsHtml: filterOptionsHtml
          }) }}
        </form>
      </div>
      <div class="layout-width-three-fifths" id="content">
        <form class="moj-action-bar" action="configure-subscription-list" method="post" autocomplete="off">
          <h2 class="govuk-heading-m">{{ userSelections }}</h2>
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">
              <a href="#" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary"
                 data-module="govuk-button" onclick="toggleFilters()">
                {{ show }}
              </a>
            </div>
          </div>
          <div
            class="selection-counter-box govuk-!-padding-top-3 govuk-!-padding-bottom-1 govuk-!-padding-left-2 govuk-!-padding-right-2 govuk-!-margin-bottom-4">
            <p class="govuk-body"><span id="selectionCount">0</span> {{ selected }}</p>
          </div>
          {{ submitButton(continueButton) }}
          <hr/>
          <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
            <nav aria-label="Alphabetical links to courts and tribunals">
              <div class="govuk-grid-row">
                {% for key, value in listTypes %}
                {% if key == 'N' %}
              </div>
              <div class="govuk-grid-row">
                {% endif %}
                {% if value | length == 0 %}
                  <div class="govuk-grid-column two-rows-alphabet govuk-!-font-size-19">
                    <a id='{{ key }}-selector' class="govuk-link govuk-link--no-underline" aria-label="{{ ariaLabelNav}} {{ key }}">{{ key }}</a>
                  </div>
                {% else %}
                  <div class="govuk-grid-column two-rows-alphabet govuk-!-font-size-19">
                    <a id='{{ key }}-selector' href='#{{ key }}'
                       class="govuk-link govuk-link--no-visited-state">{{ key }}</a>
                  </div>
                {% endif %}
                {% endfor %}
              </div>
            </nav>
          </div>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
            {% for key, value in listTypes %}
              {% if value | length > 0 %}
                {% for listName, listFriendlyName in value %}
                  <tr class="govuk-table__row">
                    {% if first != key %}
                      {% set first = key %}
                      <th scope="row" class="govuk-table__header">
                        <div id="{{ key }}" class="govuk-!-font-size-27">{{ key }}</div>
                      </th>
                    {% else %}
                      <th scope="row" aria-hidden="true" class="govuk-table__header">
                      </th>
                    {% endif %}
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input"
                               id="{{ listName }}"
                               value="{{ listName}}" name="list-selections[]"
                               onclick="calculateChecked()">
                        <label class="govuk-label govuk-checkboxes__label"
                               for="{{ listName }}">
                          <span class="govuk-visually-hidden">Select {{ listFriendlyName }}</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell govuk-!-font-size-19 vertical-center-table-header" aria-hidden="true">{{ listFriendlyName }}</td>
                  </tr>
                {% endfor %}
                {% set first = '' %}
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </form>
        {{ super() }}
      </div>
    </div>
    </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script>
    function calculateChecked() {
      const checkedBoxes = document.querySelectorAll('input[name="list-selections[]"]:checked').length;
      document.getElementById('selectionCount').innerText = checkedBoxes.toString();
    }
  </script>
{% endblock %}
