{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack, submitButton, backButtonHistory %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}

{% block content %}
    <div class="parent-box">
        {% if noSelectionError %}
            {{ govukErrorSummary({
                titleText: error.title,
                errorList: [
                    {
                        text: error.noSelection,
                        href: "#english"
                    }
                ]
            }) }}
        {% endif %}
        <form action="subscription-configure-list-language" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" id="language-selector">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            {{ title }}
                        </h1>
                    </legend>
                    {{ govukRadios({
                        idPrefix: "list-language",
                        name: "list-language",
                        items: [
                            {
                                id: "english",
                                value: radio1,
                                text: radio1,
                                checked:
                                    true if radio1 | upper === listTypeLanguageSubscriptions else false

                            },
                            {
                                id: "welsh",
                                value: radio2,
                                text: radio2,
                                checked:
                                true if radio2 | upper === listTypeLanguageSubscriptions else false
                            },
                            {
                                id: "both",
                                value: "english,welsh",
                                text: radio3,
                                checked:
                                true if 'ENGLISH,WELSH' | upper === listTypeLanguageSubscriptions else false
                            }
                        ]
                    }) }}
                </fieldset>
            </div>
            {{ submitButton(continueButton) }}
        </form>
    </div>
{% endblock %}
{% block bodyEnd %}
    {{ backButtonHistory(cspNonce) }}
    {{ super() }}
{% endblock %}
