{% extends "template.njk" %}
{% from "./macros/common-components.njk" import successPanel %}

{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ successPanel(panelTitle, message) }}
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">{{ nextMessage }}</p>
    <p><a class="govuk-link" href="#">{{ uploadFile }}</a></p>
    <p><a class="govuk-link" href="#">{{ removeFile }}</a></p>
    <p><a class="govuk-link" href="#">{{ home }}</a></p>
{% endblock %}
{% block bodyEnd %}
    {{ super() }}
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>
{% endblock %}
