{% from "./macros/common-components.njk" import goBack %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "template.njk" %}
{% block pageTitle %}
  {{ title }} {{ locationName }}?
{% endblock %}
{% block beforeContent %}
  {{ super() }}
  {{ goBack(text = backButton, cspNonce = cspNonce) }}
{% endblock %}
{% block content %}
<div class="parent-box">
  <<h1 class="govuk-heading-l">{{ header }} {{ locationName }}?</h1>
  {% if cautionMessageOverride | length %}
    {% if cautionMessageOverride | isHtml %}
      <div class="govuk-body">{{ cautionMessageOverride | safe }}</div>
    {% else %}
      <p class="govuk-body">{{ cautionMessageOverride }}</p>
    {% endif %}
  {% endif %}
  {% if publications.length === 0 %}
    {% if noListMessageOverride | length %}
      {% if noListMessageOverride | isHtml %}
        <div class="govuk-body">{{ noListMessageOverride | safe }}</div>
      {% else %}
        <p class="govuk-body">{{ noListMessageOverride }}</p>
      {% endif %}
    {% elseif court.email | length and court.contactNo | length %}
      <p class="govuk-body">{{ noListsWithCourtTelephoneAndEmail | replace("COURTNAME", locationName) | replace("CONTACTNO", court.contactNo) | replace("EMAIL", court.email) }}</p>
    {% elseif court.contactNo | length %}
      <p class="govuk-body">{{ noListsWithCourtTelephoneOrEmail | replace("COURTNAME", locationName) | replace("COURTCONTACT", court.contactNo) }}</p>
    {% elseif court.email | length %}
      <p class="govuk-body">{{ noListsWithCourtTelephoneOrEmail | replace("COURTNAME", locationName) | replace("COURTCONTACT", court.email) }}</p>
    {% else %}
      <p class="govuk-body">{{ noLists }}</p>
    {% endif %}
  {% else %}
    <p class="govuk-body">{{ p1 }}</p>
    <div class="parent-box">
    {% set pubs = [] %}
    <ul class="no-bullets-list">
      {% for item in publications| sort(attribute="language") | sort(reverse= true, attribute="contentDate") | sort(attribute="listName") %}
        <li class="govuk-body govuk-!-font-size-16">
          {% if item.isFlatFile %}
            <a class=das-search-results__link target=”_blank” href="file-publication?artefactId={{ item.artefactId }}">
              {{ item.listType | listType(lng) }} {{ item.contentDate | date("DD MMMM YYYY") }} - {{ item.language | language }}</a>
            {{ newWindow }}
          {% else %}
            <a class=das-search-results__link
               href="{{ item.listType | listUrl }}?artefactId={{ item.artefactId }}">{{ item.listType | listType(lng) }} {{ item.contentDate | date("DD MMMM YYYY") }} - {{ item.language | language }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <br/>
  </div>
</div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
{% endblock %}
