{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}


{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}

{{ govukHeader({
        homepageUrl: "https://www.gov.uk/",
        serviceName: serviceNameText,
        serviceUrl: "/",
        navigationClasses: 'govuk-header__navigation--end',
        navigation: [
            {
              href: "/subscription-management",
              text: subscriptionText,
              active: false,
              attributes: {
                id: "subscriptionHeaderButton"
              }
            },
            {
              href: "#",
              text: signInText,
              active: false,
              attributes: {
                id: "signInButton"
              }
            }
          ]
      }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
          href: "/help",
          text: help
      },
      {
          href: "/privacy-policy",
          text: privacyPolicy
      },
      {
          href: "/Cymraeg",
          text: language
      },
      {
          href: "/Cookie-policy",
          text: cookiePolicy
      },
      {
          href: "/accessibility-statement",
          text: accessibilityStatement
      },
      {
          href: "/Contact",
          text: contact
      },
      {
          href: "/terms-and-conditions",
          text: tc
      }
    ]
  }
}) }}
{% endblock %}