{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
    <meta name="robots" content="noindex">
    {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
    {{ govukHeader({
        homepageUrl: "https://www.gov.uk/",
        serviceName: serviceNameText,
        serviceUrl: "/"
    }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: betaHeading
  }) }}
    {% set listItems = [
        {
            text: navLinks.link1,
            href: '/account-home'
        },
        {
            text: navLinks.link5,
            href: '/search'
        },
        {
            text: navLinks.link6,
            href: '/summary-of-publications?courtId=0'
        },
        {
            text: navLinks.link4,
            href: '/subscription-management'
        },
        {
            text: navLinks.link3,
            href: '/logout'
        }
    ] if isAuthenticated else [
        {
            text: navLinks.link1,
            href: '/view-option'
        },
        {
            text: navLinks.link5,
            href: '/search'
        },
        {
            text: navLinks.link6,
            href: '/summary-of-publications?courtId=0'
        },
        {
            text: navLinks.link2,
            href: '/sign-in'
        }
        ] %}
    {{ mojSubNavigation({
        label: 'Primary navigation',
        classes: 'pub-navigation govuk-!-margin-bottom-0',
        items: listItems
    }) }}

{% endblock %}

{% block bodyStart %}
  {% set html %}
    <p class="govuk-body">We use some essential cookies to make this service work.</p>
    <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
  {% endset %}
  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="/cookie-policy">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectHtml %}
    <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="/cookie-policy">change your cookie settings</a> at any time.</p>
  {% endset %}

  {{ govukCookieBanner({
    ariaLabel: "Cookies on " + serviceNameText,
    hidden: true,
    messages: [
      {
        headingText: "Cookies on " + serviceNameText,
        html: html,
        actions: [
        {
          text: "Accept analytics cookies",
          attributes: {
            id: 'cookie-accept-analytics'
        }
        },
        {
          text: "Reject analytics cookies",
          attributes: {
            id: 'cookie-reject-analytics'
        }
        },
        {
          text: "View cookies",
          href: "/cookie-policy"
        }
      ],
        attributes: {
        id: 'cookie-banner-message'
      }
      },
      {
        html: acceptHtml,
        role: 'alert',
        hidden: true,
        actions: [{
          text: 'Hide this message',
          attributes: {
            id: 'hide-message-accept'
        }
      }],
        attributes: {
        id: 'accept-message'
      }
      },
      {
        html: rejectHtml,
        role: 'alert',
        hidden: true,
        actions: [{
          text: 'Hide this message',
          attributes: {
            id: 'hide-message-reject'
        }
      }],
        attributes: {
          id: 'reject-message'
      }
      }
    ],
    attributes: {
      id: 'cookie-banner'
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="assets/js/cookie-preferences.js"></script>
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: footerLinks
  }
}) }}
{% endblock %}
