{% from "macros/common-components.njk" import goBack, successPanel %}

{% extends "template.njk" %}
{% block pageTitle %}
    {{ pageName }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack() }}
{% endblock %}

{% block content %}
    {{ successPanel(title, message) }}
    <p class="govuk-body">
        {{ pStart }}
        <a class="govuk-link" href="your-account">{{ yourAccount }}</a>
        {{ pEnd }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
        {% for item in listItems %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endblock %}
{% block bodyEnd %}
    {{ super() }}
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>
{% endblock %}
