{% extends "template.njk" %}
{% from "macros/common-components.njk" import goBack, submitButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block beforeContent %}
    {{ super() }}
    {{ goBack() }}
{% endblock %}

{% block content %}
    <form method="post">
        {{ govukRadios({
            idPrefix: "view-choice",
            name: "view-choice",
            fieldset: {
                legend: {
                    text: radioLegend,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "search",
                    html: "<b>"+ radio1 +"</b>",
                    hint: {
                      text: radio1Hint
                    }
                },
                {
                    value: "sjp",
                    html: "<b>"+ radio2 +"</b>",
                    hint: {
                      text: radio2Hint
                    }
                }
            ]
        }) }}
        {{ submitButton() }}
        <h2 class="govuk-heading-m govuk-!-margin-top-3">{{ haveAccount }}</h2>
        <p class="govuk-body"><a class="govuk-link" href="sign-in">{{ accountLink }}</a></p>
    </form>
    <script>
      const button = document.getElementsByClassName('govuk-button')[0];
      button.addEventListener('click', (e) => {
        const checkedRadios = document.querySelectorAll('input[type="radio"]:checked');
        if (!checkedRadios.length) {
          e.preventDefault();
        }
      })
    </script>
{% endblock %}
