{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% macro submitButton(label = 'Continue', id = '', ariaLabel = 'Continue Button', disable = false) %}
    {{ govukButton({
        text: label,
        disabled: disable
    })}}
{% endmacro %}

{% macro goBack(path = '#', text = 'Back', id = '', ariaLabel = 'Back Button') %}
  {{ govukBackLink({
    text: text,
    href: path,
    attributes: {
      onClick: "history.back(); event.preventDefault();"
    }
  }) }}
{% endmacro %}

{% macro successPanel(title='', text='') %}
    {{ govukPanel({
        titleText: title,
        text: text
    }) }}
{% endmacro %}
