{% from "../macros/common-components.njk" import goBack, submitButton, backButtonHistory %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% extends "../template.njk" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block beforeContent %}
    {{ super() }}
    {{ goBack(cspNonce = cspNonce) }}
{% endblock %}
{% block content %}

    {% set checkboxReasons = [] %}
    {% for shortReason, reason in rejectReasons %}
    {% set _ = checkboxReasons.push({value: shortReason, text: reason[0]}) %}
    {% endfor %}
    {% set otherHtml = {html:other} %}

<form method="post" action="/media-account-rejection-reasons?applicantId={{ applicantId }}">
    <input type="hidden" id="applicantId" name="applicantId" value="{{ applicantId }}" >
    {% if showError %}
        {% set errorMsg = {text: error.checkboxes} %}
    {{ govukErrorSummary({
        titleText: error.title,
        errorList: [
            {
                text: error.checkboxes,
                href: "#govuk-checkboxes"
            }
        ]
    }) }}

    {% else %}
    {% set errorMsg = false %}
    {% endif %}
    {{ govukCheckboxes({
        name: "rejection-reasons",
        fieldset: {
            legend: {
                text: header,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: selectAll
        },
        errorMessage: errorMsg,
        items: checkboxReasons
    }) }}
    {{ submitButton() }}
</form>
{% endblock %}
{% block bodyEnd %}
    {{ backButtonHistory(cspNonce) }}
    {{ super() }}
{% endblock %}
